<section>
    <div class="container">
        <div class="section_title">
            <h2>Who Can Apply
            </h2>
            
        </div>
        <div class="section_content d-none pt-4">
            <p>
                The Fintech Innovation Challenge 2022 is open for all Indian
entrepreneurs and FINTECH enthusiasts, including startups, students,
academia, coders, IT professionals, engineers, UI/UX professionals, etc
                <!-- Proposals under the above areas from ideation (early-stage) to deployment
                (late-stage) are invited. -->
            </p>
        </div>
        <div class="row pt-5">
            <div class="col-md-12">
                <div class="head">
                    <!-- <h4>
                        All applicants should:
                    </h4> -->
                    <p>
                        If you are a start-up, an early-stage organization or working in collaboration to solve problems in the FINTECH Sector, you are eligible to apply meeting the following requirements :
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ullist">
                    <ul>
                        <li>
                            Demonstrating the existence of a legal structure: Company should comply with the start-up definition as defined by DPIIT at <a href="mailto:http://startupindia.gov.in" target="_blank">http://startupindia.gov.in</a>
                        </li>
                        <li>
                            Products/ Services should not violate/ breach/ copy any product already launched and/or copyrighted or patented
                        </li>
                        <li>
                            IPR/ Patent registered for the product (if any) should be owned by the nominating Indian company
                        </li>
                        <li>
                            The product/ Prototype/ MVP submitted should have been designed and developed in India
                        </li>
                    </ul>
                </div>
                <div class="head">
                    <p>
                        Participants will have to come up with solutions that can be called ‘innovative’, ‘radical’, ‘unconventional’ or ‘out-of-the-box’. The solutions provided should be thoroughly researched, must not include any sort of plagiarism, carried out as a student effort with a feasible work plan and should be presented with required deliverables
                    </p>
                </div>

                <div class="ullist d-none">
                    <ul>
                        <li>
                            Be Indian citizens and currently residing in India OR
startups/Companies registered in India wherein majority stakeholders
are Indians
                        </li>
                        <li>
                            Register either as individuals with atmost 2 supporting team members,
with the team leader registering on behalf of the team
                        </li>
                        <li>
                            Proposals for the stated problem statements are Categorised as follows
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="box box_one">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box_heading">
                                <h3>
                                    Ideation (Early-Stage)
                                </h3>
                            </div>
                            <div class="box_list">
                                <ul>
                                    <li><i class="fa fa-check"></i>
                                        Students (Diploma/UG/PG)
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Research scholars (JRF, SRF, Scientist, Research/Project Associate etc.)
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Faculties
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/ideation.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="box box_one">
                    <div class="box_content_details">
                        <div class="box_heading">
                            <h3>
                                Ideation (Early-Stage)
                            </h3>
                        </div>
                        <div class="box_list">
                            <ul>
                                <li><i class="fa fa-check"></i>
                                    Students (Diploma/UG/PG)
                                </li>
                                <li><i class="fa fa-check"></i>
                                    Research scholars (JRF, SRF, Scientist, Research/Project Associate etc.)
                                </li>
                                <li><i class="fa fa-check"></i>
                                    Faculties
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_image">
                        <img src="assets/images/ideation.png" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="box box_two">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box_heading">
                                <h3>
                                    Deployment (Late-Stage)
                                </h3>
                            </div>
                            <div class="box_list">
                                <ul>
                                    <li><i class="fa fa-check"></i>
                                        Indian Companies
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Startups (Registered/Not registered)
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        MSMEs/LLPs
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Professionals
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/deployment.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>