<section class="d-none">
        <div style="background-image: url('assets/images/problemstatements/problemstatementsbg.png');
        background-repeat: no-repeat;
        background-size: cover;position:absolute;opacity: 0.3;top: 0;bottom:
        0;right: 0;left: 0;">
    </div>
    <div class="container">
        <div class="section_title">
            <h2>problem statements
            </h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box_one box">
                    <div class="box_heading">
                        <h2>Problem Statement 1</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementone.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_content mt-3">
                        <p>
                            An application to be developed to collect revenue at all the service delivery points
through deployment of QR codethat can hold cash in a digital wallet & integrate it with CFMS
for remitting the amount to Government.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('1')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('1')">Know more</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_two box">
                    <div class="box_heading">
                        <h2>Problem Statement 2</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementtwo.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_content mt-3">
                        <p>
                            Automate bill audit assignment to treasury officers based on the work load.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('2')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('2')">Know more</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_three box">
                    <div class="box_heading">
                        <h2>Problem Statement 3</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementthree.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_content mt-3">
                        <p>
                            An application built to read invoices (AI & ML driven OCR reader) accurately and
                            generate alerts to the concerned officers.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('3')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('3')">Know more</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box_four box">
                    <div class="box_heading">
                        <h2>Problem Statement 4</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementfour.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_content mt-3">
                        <p>
                            Analyse the revenue receipts data of each department of all the past years under each
                            category and build a decision support system that can readily
                        </p>
                    </div>
                    <div class="box_button" >
                        <a href="" class="btn btn-md apply_button">Know more</a>
                    </div>
                    <button class="btn btn-primary" type="button" (click)="apply('4')">Know more</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <div style="background-image: url('assets/images/problemstatements/problemstatementsbg.png');
    background-repeat: no-repeat;
    background-size: cover;position:absolute;opacity: 0.3;top: 0;bottom:
    0;right: 0;left: 0;">
</div>
<div class="container">
    <div class="section_title">
        <h2>Problem Statements
        </h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ngx-slick-carousel class="carousel"
            #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="slide">
                <div class="box_one box">
                    <div class="box_heading">
                        <h2>Problem Statement 1</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementone.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_subcontent">
                        <p>
                            Eligibility : <span>Open for all Indian entrepreneurs and Fintech enthusiasts</span>
                        </p>
                    </div>
                    <div class="deadline">
                        <p>
                            Deadline : <span>November 21, 2022</span>
                        </p>
                    </div>
                    <div class="box_content mt-3 d-none">
                        <p>
                            An application to be developed to collect revenue at all the service delivery points
through deployment of QR codethat can hold cash in a digital wallet & integrate it with CFMS
for remitting the amount to Government.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('1')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('1')">Know more</button>

                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">          
                <div class="box_two box">
                    <div class="box_heading">
                        <h2>Problem Statement 2</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementtwo.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_subcontent">
                        <p>
                            Eligibility : <span>Open for all Indian entrepreneurs and Fintech enthusiasts</span>
                        </p>
                    </div>
                    <div class="deadline">
                        <p>
                            Deadline : <span>November 21, 2022</span>
                        </p>
                    </div>
                    <div class="box_content mt-3 d-none">
                        <p>
                            An application to be developed to collect revenue at all the service delivery points
through deployment of QR codethat can hold cash in a digital wallet & integrate it with CFMS
for remitting the amount to Government.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('2')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('2')">Know more</button>

                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="box_three box">
                    <div class="box_heading">
                        <h2>Problem Statement 3</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementthree.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_subcontent">
                        <p>
                            Eligibility : <span>Open for all Indian entrepreneurs and Fintech enthusiasts</span>
                        </p>
                    </div>
                    <div class="deadline">
                        <p>
                            Deadline : <span>November 21, 2022</span>
                        </p>
                    </div>
                    <div class="box_content mt-3 d-none">
                        <p>
                            An application to be developed to collect revenue at all the service delivery points
through deployment of QR codethat can hold cash in a digital wallet & integrate it with CFMS
for remitting the amount to Government.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('3')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('3')">Know more</button>

                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="box_four box">
                    <div class="box_heading">
                        <h2>Problem Statement 4</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementfour.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_subcontent">
                        <p>
                            Eligibility : <span>Open for all Indian entrepreneurs and Fintech enthusiasts</span>
                        </p>
                    </div>
                    <div class="deadline">
                        <p>
                            Deadline : <span>November 21, 2022</span>
                        </p>
                    </div>
                    <div class="box_content mt-3 d-none">
                        <p>
                            An application to be developed to collect revenue at all the service delivery points
through deployment of QR codethat can hold cash in a digital wallet & integrate it with CFMS
for remitting the amount to Government.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('4')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('4')">Know more</button>

                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="box_five box">
                    <div class="box_heading">
                        <h2>Problem Statement 5</h2>
                    </div>
                    <div class="box_image rounded-circle m-auto">
                        <img src="assets/images/problemstatements/statementone.png" alt="image" class="img-fluid">
                    </div>
                    <div class="box_subcontent">
                        <p>
                            Eligibility : <span>Open for all Indian entrepreneurs and Fintech enthusiasts</span>
                        </p>
                    </div>
                    <div class="deadline">
                        <p>
                            Deadline : <span>November 21, 2022</span>
                        </p>
                    </div>
                    <div class="box_content mt-3 d-none">
                        <p>
                            An application to be developed to collect revenue at all the service delivery points
through deployment of QR codethat can hold cash in a digital wallet & integrate it with CFMS
for remitting the amount to Government.
                        </p>
                    </div>
                    <div class="box_button">
                        <a href="#" class="btn btn-md apply_button" (click)="apply('5')">Know more</a>
                    <button class="btn btn-primary" type="button" (click)="apply('5')">Know more</button>

                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
        </div>
    </div>
</div>
</section>
<!-- <app-faqone></app-faqone> -->