
<section>
    
    <div class="container">
        <div class="section_title mb-3 pb-4">
            <h2>Esteemed Committee Members
            </h2>
            
        </div>
        <!-- <div class="section_content">
            <p>
                Online courses, programs and degrees created by leading  universities, business schools and specialist organizations.
            </p>
        </div> -->

        <div class="row">
            <div class="col-md-3">
                <div class="card cards">
                    <div class="profilesDetails" style="background: #004982;">
                        <h4 class="text-white">
                            Patron-In-Chief
                        </h4>
                    </div>
                    <div class="photo minister">
                        <img src="assets/images/organizers/user.png" alt="image" class="img-fluid">
                    </div>
                    <div class="profilesDetails">
                        <h4>
                            Sri Katamneni Bhaskar, IAS
                        </h4>
                        <p>
                            Secretary, ITE&C Department (GOAP)
                        </p>

                        <!-- <p>Hon’ble Minister of Information Technology, Electronics & Communications, Investments, Infrastructure, Industries & Commerce, Skill Development & Training</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card cards">
                    <div class="profilesDetails" style="background: #004982;">
                        <h4 class="text-white">
                            Honorary Chairman
                        </h4>
                    </div>
                    <div class="photo mla1">
                        <img src="assets/images/organizers/sanjay.png" alt="image" class="img-fluid">
                    </div>
                    <div class="profilesDetails">
                        <h4>
                            Dr. Sanjay Tyagi
                        </h4>

                        <p>
                            Director – STPI Chennai & CEO, FinBlue STPI COE
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card cards">
                    <div class="profilesDetails" style="background: #004982;">
                        <h4 class="text-white">
                            Member Co-Convenor
                        </h4>
                    </div>
                    <div class="photo mla2">
                        <img src="assets/images/organizers/sunil.png" alt="image" class="img-fluid">
                    </div>
                    <div class="profilesDetails">
                        <h4>
                            B Sunil Kumar Reddy, IFS
                        </h4>
                        <p>
                            Addl. CEO, APCFSS
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card cards">
                    <div class="profilesDetails" style="background: #004982;">
                        <h4 class="text-white">
                            Patron
                        </h4>
                    </div>
                    <div class="photo satish">
                        <img src="assets/images/organizers/natarajan.png" alt="image" class="img-fluid">
                    </div>
                    <div class="profilesDetails">
                        <h4>
                            Gopu Natarajan
                        </h4>

                        <p>
                            COO FinBlue - STPI COE
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="card cards">
                    <div class="profilesDetails" style="background: #004982;">
                        <h4 class="text-white">
                            Member Convener
                        </h4>
                    </div>
                    <div class="photo poonam">
                        <img src="assets/images/organizers/user.png" alt="image" class="img-fluid">
                    </div>
                    <div class="profilesDetails">
                        <h4>
                            Sri M. Ramana Reddy, IRS
                        </h4>
                        <p>
                            CEO, APIS
                        </p>
                    </div>
                </div>
            </div>
        </div>





        <div class="row d-none">
            <div class="col-md-4">
                <div class="profileDetails">
                    <div class="photo">
                        <img src="assets/images/organizers/user.png" alt="image" class="img-fluid">
                    </div>
                    <div class="personal">
                            <h2>
                                Dr. N.Yuvaraj, IAS
                            </h2>
                            <h4>
                                Secretary, ITE&C Department (GOAP) (FAC)
                            </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profileDetails">
                    <div class="photo">
                        <img src="assets/images/organizers/sanjay.png" alt="image" class="img-fluid">
                    </div>
                    <div class="personal">
                            <h2>
                                Dr. Sanjay Tyagi
                            </h2>
                            <h4>
                                Director – STPI Chennai
                            </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="profileDetails">
                    <div class="photo">
                        <img src="assets/images/organizers/sunil.png" alt="image" class="img-fluid">
                    </div>
                    <div class="personal">
                            <h2>
                                B Sunil Kumar Reddy, IFS
                            </h2>
                            <h4>
                                Addl. CEO, APCFSS
                            </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="profileDetails">
                    <div class="photo">
                        <img src="assets/images/organizers/natarajan.png" alt="image" class="img-fluid">
                    </div>
                    <div class="personal">
                            <h2>
                                Gopu Natarajan
                            </h2>
                            <h4>
                                COO, FINBLUE by STPI
                            </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="profileDetails">
                    <div class="photo">
                        <img src="assets/images/organizers/user.png" alt="image" class="img-fluid">
                    </div>
                    <div class="personal">
                            <h2>
                                Sri D. Venkatachalam
                            </h2>
                            <h4>
                                CEO, APIS
                            </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>