
<section style="background-image: url('assets/images/civil2.png');">
    <!-- <app-headertwo></app-headertwo> -->
    
        <div class="container">
            <style>
                .section_title h2::after {
                    content: none !important;
                }
            </style>
            <div class="section_title commontitle text-left">
                <h2 style="color: orange;">
                    ai hackathon : computer vision based
                    smart surveillance for warehouses 2025
                </h2>
            </div>
            
        </div>
    </section>