<section class="details_hero" style="background-image: url('assets/images/herobg.png');">
    <app-header></app-header>
    <div class="container">
        <div class="section_title py-4">
            <h2 class="pb-2">FINTECH INNOVATION CHALLENGE</h2>
            <h4 class="text-center text-white">
                SUBMIT PROPOSALS: <span>September 20, 2022</span>
            </h4>
        </div>
        <!-- <div class="section_content">
            <p>
                Summary of executing the “FINTECH Innovation Challenge”
                hosted by APIS in partnership with APCFSS & FINBLUE CoE
                by STPI, Chennai
            </p> 
        </div> -->
        <div class="row">
            <div class="col-md-3">
                <div class="progress green">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">22 Days</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="progress light">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">10 Hours</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="progress light">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">20 Minutes</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="progress light">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">32 Seconds</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- vertical timeline starts -->
<!-- <app-evalutionprocessone></app-evalutionprocessone> -->
<app-timelineprocesstwo></app-timelineprocesstwo>

<!-- vertical timeline ends -->


<!-- problem statements starts -->

<app-problemstatementsone></app-problemstatementsone>

<!-- problem statements ends -->



<!-- participate section starts -->

<app-participateone></app-participateone>

<!-- participate section ends -->

<!-- organized section starts -->

<!-- <app-organizedone></app-organizedone> -->

<!-- organized section ends -->

<!-- FAQs starts -->

<app-faqone></app-faqone>

<!-- FAQs ends -->