

.btn-closed {
  padding: 6px 16px;
  cursor: initial !important;
}

section {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section_title {
    margin-bottom: 30px;
}
.bg-text {
  padding: 30px 0;
}
.slide {
    margin: auto 6px;
}
.section_title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 71px;
  height: 3px;
  bottom: -12px;
  background: #00AF92;
  left: calc(49% - 19px);
}
.section_title h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    /* text-transform: uppercase; */
    /* color: #028C72;     */
    color: #fff;
}
.section_title h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.section_content {
    width: 75%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
  }
  .section_content p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}






/* cards css starts */
.card-body {
    /* border: 1px solid #000; */
}
.fintech_card {
  border: 2px solid green !important;
}
.card-text {
  display: none;
}

.card-body .card-title {
    text-align: center;
    color: #fff;
    font-size: 21px;
}
.card-coming {
  display: none;
  font-size: 18px !important;
  /* color: blue; */
  font-weight: 400 !important;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
}
.card-body .h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}
.card-body h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}
.card-body h6 span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}
.card-body p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}
.know {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background: #1fbcb4;
}
.enroll_button{
  /* display: none; */
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background: none;
  }
  .card{
    /* height: 368px; */
    border-radius: 10px;
    border: 2px solid blue;
    /* box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px; */
  }
  .card:hover{
    transform: scale(1.05);
    transition: all 1s ease;
    z-index: 999;
  }
  .card-01 .card-body{
    position:relative; padding-top:40px;
    background: rgb(36,94,175);
    background: linear-gradient(180deg, rgba(36,94,175,1) 0%, rgba(200,0,96,1) 100%);
  }
  .card-01 .badge-box{
    position:absolute; 
    top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;
  }
  .card-01 .badge-box i{
    background:#03539D; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;
  }
  .card-01 .height-fix{
    height:455px; overflow:hidden;
  }
  
  .card-01 .height-fix .card-img-top{width:auto!important;}
  
  .profile-box{
    background-size:cover; float:left; width:100%; text-align:center; padding:30px 0; position:relative; overflow:hidden;
  }
  
  .profile-box:before{
    filter: blur(10px);background:url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat; background-size:cover; width:120%; position:absolute; content:""; height:120%; left:-10%;top:0;z-index:0;
  }
  
  .profile-box img{
    width:170px; height:170px; position:relative; border:5px solid #fff;
  }
  
  .social-box i {
    border:1px solid #006EFF; color:#006EFF; width:30px; height:30px; border-radius:50%;line-height:30px;
  }
  
  .social-box i:hover{
    background:#DFC717; color:#fff;
  }
  
  .social-box a{margin: 0 5px;}
  
  .video-foreground{float:left;width:100%; height:500px;}
  
  .card-01.height-fix .card-img-overlay{
    top:unset; 
    color:#fff;
    background: -moz-linear-gradient(top, rgba(26,96,111,0) 0%, rgba(26,96,111,0) 1%, rgba(24,87,104,0.91) 31%, rgba(21,65,89,0.91) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  }
  .card-01.height-fix .fa{color: #fff;font-size: 22px;margin-right: 18px;}
  
  /*flipper-card*/
  .card-flipper {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
  }
  
  .card__front,
  .card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__back .card{
      width:100%;
      height:65vh;
  }
  
  .card__front,
  .card__back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
  }
  
  .card__front {
    background-color: #ff5078;
  }
  
  .card__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  .card-flipper.effect__hover{position:relative;}
  .card-flipper.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .card-flipper.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  
  .card-flipper.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .card-flipper.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }


/* cards css ends */






@-webkit-keyframes fintech {
  0% {
      box-shadow: 0 0 0 0 rgb(255 84 33 / 30%), 0 0 0 1em rgb(255 84 33 / 30%), 0 0 0 3em rgb(255 84 33 / 30%), 0 0 0 5em rgb(255 84 33 / 30%);
  }
  100% {
      box-shadow: 0 0 0 1em rgb(255 84 33 / 30%), 0 0 0 3em rgb(255 84 33 / 30%), 0 0 0 5em rgb(255 84 33 / 30%), 0 0 0 8em rgb(255 84 33 / 0%);
  }
}

@-moz-keyframes fintech {
  0% {
      box-shadow: 0 0 0 0 rgb(255 84 33 / 30%), 0 0 0 1em rgb(255 84 33 / 30%), 0 0 0 3em rgb(255 84 33 / 30%), 0 0 0 5em rgb(255 84 33 / 30%);
  }
  100% {
      box-shadow: 0 0 0 1em rgb(255 84 33 / 30%), 0 0 0 3em rgb(255 84 33 / 30%), 0 0 0 5em rgb(255 84 33 / 30%), 0 0 0 8em rgb(255 84 33 / 0%);
  }
}

@-ms-keyframes fintech {
  0% {
      box-shadow: 0 0 0 0 rgb(255 84 33 / 30%), 0 0 0 1em rgb(255 84 33 / 30%), 0 0 0 3em rgb(255 84 33 / 30%), 0 0 0 5em rgb(255 84 33 / 30%);
  }
  100% {
      box-shadow: 0 0 0 1em rgb(255 84 33 / 30%), 0 0 0 3em rgb(255 84 33 / 30%), 0 0 0 5em rgb(255 84 33 / 30%), 0 0 0 8em rgb(255 84 33 / 0%);
  }
}

@keyframes fintech {
  to {
      box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.fintech_pulse_button {
    /* display: none; */
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      background: none;
  -webkit-animation: fintech 3s linear infinite;
    -moz-animation: fintech 3s linear infinite;
    -ms-animation: fintech 3s linear infinite;
    animation: fintech 3s linear infinite;
}