<!-- <section style="background-image: url('assets/images/aboutbg.png');"> -->
    <section style="background-image: url('assets/images/cybersecurity/events_bg.png');">

        <div class="container">
            <div class="section_title">
                <h2>Upcoming Events
                </h2>
            </div>
            <div class="section_content d-none">
                <p>
                    Transform your team's health and wellness in just 2 minutes
                </p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel" [config]="slideConfig"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
    
              <div ngxSlickItem class="slide">          
                <div class="card card-01">
                <img class="card-img-top img-fluid" src="assets/images/events/agritech.png" alt="Card image cap">
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-calendar"></i></span>
                  <h4 class="card-title">Agritech Innovation Challenge 2022</h4>
                  <h6 class="card-title card-coming">Coming Soon</h6>
    
                  <p class="card-text">
                    Prize 10. Lakh rs split between the Top 10 ideas
                </p>
                <a routerLink="/fintech" class="btn enroll_button text-center text-white text-uppercase">Enroll Now ></a>
                </div>
              </div>
            </div>
                    <div ngxSlickItem class="slide">          
                            <div class="card card-01">
                            <img class="card-img-top img-fluid" src="assets/images/events/healthtech.png" alt="Card image cap">
                            <div class="card-body text-center">
                              <span class="badge-box"><i class="fa fa-calendar"></i></span>
                              <h4 class="card-title">Healthtech Innovation Challenge 2022</h4>
                              <h6 class="card-title card-coming">Coming Soon</h6>
      
                              <!-- <h6 class="card-title">Dead Line: <span>05-09-2022</span></h6> -->
                              <p class="card-text">
                                Prize 10. Lakh rs split between the Top 10 ideas
                            </p>
                              <a routerLink="/fintech" class="btn enroll_button text-center text-white text-uppercase">Enroll Now ></a>
                            </div>
                          </div>
                    </div>
    
                    <div ngxSlickItem class="slide">          
                        <div class="card card-01">
                        <img class="card-img-top img-fluid" src="assets/images/events/animal.png" alt="Card image cap">
                        <div class="card-body text-center">
                          <span class="badge-box"><i class="fa fa-calendar"></i></span>
                          <h4 class="card-title">Animal Husbandary Innovation Challenge 2022</h4>
                          <h6 class="card-title card-coming">Coming Soon</h6>
    
                          <!-- <h6 class="card-title">Dead Line: <span>05-09-2022</span></h6> -->
                          <p class="card-text">
                            Prize 10. Lakh rs split between the Top 10 ideas
                        </p>
                        <a routerLink="/fintech" class="btn enroll_button text-center text-white text-uppercase">Enroll Now ></a>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">          
                      <div class="card card-01">
                      <img class="card-img-top img-fluid" src="assets/images/events/fisheries.png" alt="Card image cap">
                      <div class="card-body text-center">
                        <span class="badge-box"><i class="fa fa-calendar"></i></span>
                        <h4 class="card-title">Fisheries Innovation Challenge 2022</h4>
                        <h6 class="card-title card-coming">Coming Soon</h6>
    
                        <!-- <h6 class="card-title">Dead Line: <span>05-09-2022</span></h6> -->
                        <p class="card-text">
                          Prize 10. Lakh rs split between the Top 10 ideas
                      </p>
                        <a routerLink="/fintech" class="btn enroll_button text-center text-white text-uppercase">Enroll Now ></a>
                      </div>
                    </div>
              </div>
              <div ngxSlickItem class="slide">          
                  <div class="card card-01">
                  <img class="card-img-top img-fluid" src="assets/images/events/logistics.png" alt="Card image cap">
                  <div class="card-body text-center">
                    <span class="badge-box"><i class="fa fa-calendar"></i></span>
                    <h4 class="card-title">Logistics Innovation Challenge 2022</h4>
                    <h6 class="card-title card-coming">Coming Soon</h6>
    
                    <p class="card-text">
                      Prize 10. Lakh rs split between the Top 10 ideas
                  </p>
                  <a routerLink="/fintech" class="btn enroll_button text-center text-white text-uppercase">Enroll Now ></a>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="slide">          
                  <div class="card card-01">
                  <img class="card-img-top img-fluid" src="assets/images/events/meditech.png" alt="Card image cap">
                  <div class="card-body text-center">
                    <span class="badge-box"><i class="fa fa-calendar"></i></span>
                    <h4 class="card-title">Meditech Innovation Challenge 2022</h4>
                    <h6 class="card-title card-coming">Coming Soon</h6>
                    <!-- <h6 class="card-title">Dead Line: <span>05-09-2022</span></h6> -->
                    <p class="card-text">
                      Prize 10. Lakh rs split between the Top 10 ideas
                  </p>
                  <a routerLink="/fintech" class="btn enroll_button text-center text-white text-uppercase">Enroll Now ></a>
                  </div>
                </div>
              </div>
            
        
    
                </ngx-slick-carousel>
            </div>
            </div>
        </div>
    </section>