<section>
    <div class="container">
        <div class="section_title">
            <h2>Roles & Responsibilities of each stakeholder</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section_details">
                    <div class="roles_section_subheading">
                        <h4>
                            I. AP Innovation Society:
                        </h4>
                    </div>
                    <div class="roles_section-subcontent">
                        <p>
                            <a href="http://apis.ap.gov.in/" target="_blank">Andhra Pradesh Innovation Society (APIS)</a> was set up in the year 2015
    functioning under the administrative control of the ITE & C Department, the state nodal
    agency for spearheading the promotion of Innovations, Startups, and Entrepreneurship
    among first-generation entrepreneurs, researchers, students, citizens, and the
    government.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="roles_section_subheading">
                <h4>
                    Key Roles to be played:-
                </h4>
            </div>
            <div class="col-md-6">
                <div class="roles_section_subheading">
                    <ul>
                        <li><i class="fas fa-check-square"></i>
                            Hosting the challenge on behalf of the department
                        </li>
                        <li><i class="fas fa-check-square"></i>
                            Brining the startups, students, and other relevant stakeholders for the challenge
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="roles_section_subheading">
                    <ul>
                        <li><i class="fas fa-check-square"></i>
                            Ensure the overall management of the challenge starting from hosting to valedictory
                        </li>
                        <li><i class="fas fa-check-square"></i>
                            Supporting the selected startups with Incubation space/ mentorship/ funding support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section_details">
                    <div class="roles_section_subheading">
                        <h4>
                            II. APCFSS:
                        </h4>
                    </div>
                    <div class="roles_section-subcontent">
                        <p>
                            AP Centre for Financial Systems & Services (APCFSS) was established by the
Government of Andhra Pradesh (GoAP) as a not-for-profit company under the Finance
Department which is mandated to Design, develop, implement and maintain a
Comprehensive Financial Management System (CFMS) in GoAP, and help the Government
implement appropriate e-Governance solutions and good governance initiatives.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="roles_section_subheading">
                <h4>
                    Key Roles to be played:-
                </h4>
            </div>
            <div class="col-md-6">
                <div class="roles_section_subheading">
                    <ul>
                        <li><i class="fas fa-check-square"></i>
                            Hosting the challenge on behalf of the department
                        </li>
                        <li><i class="fas fa-check-square"></i>
                            Brining the startups, students, and other relevant stakeholders for the challenge
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="roles_section_subheading">
                    <ul>
                        <li><i class="fas fa-check-square"></i>
                            Ensure the overall management of the challenge starting from hosting to valedictory
                        </li>
                        <li><i class="fas fa-check-square"></i>
                            Supporting the selected startups with Incubation space/ mentorship/ funding support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>