<section>
    <div class="section_title">
        <h2>Upcoming Events
        <!-- <span class="right_arrow">
                <span></span>
                <span></span>
                <span></span>
            </span> -->
        </h2>
        <!-- <h3>
          FINTECH Innovation challenge
          idea becomes reality
        </h3> -->
    </div>
    <div class="section_content d-none">
        <p>
            “FINTECH Innovation Challenge”
            hosted by APIS in partnership with APCFSS & FINBLUE CoE
            by STPI, Chennai
        </p>
    </div>
    <div class="container">
        
        <div class="row">
        
            <div class="col-md-4">
                <div class="boxone">
                    <img src="assets/images/thumbone.png" alt="image" class="img-fluid">
                    <div class="thumb_content_details">
                        <div class="thumb_title">
                            <h2>Coming soon</h2>
                        </div>
                        <div class="thumb_deadline">
                            <h4>
                                Dead Line: <span>05-09-2022</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxone">
                    <img src="assets/images/thumbtwo.png" alt="image" class="img-fluid">
                    <div class="thumb_content_details">
                        <div class="thumb_title">
                            <!-- <h2>Fintech Innovation 
                                Challenge</h2> -->
                            <h2>Coming soon</h2>
        
                        </div>
                        <div class="thumb_deadline">
                            <h4>
                                Dead Line : <span>05-09-2022</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxone">
                    <img src="assets/images/thumbthree.png" alt="image" class="img-fluid">
                    <div class="thumb_content_details">
                        <div class="thumb_title">
                            <!-- <h2>Fintech Innovation 
                                Challenge</h2> -->
                            <h2>Coming soon</h2>
        
                        </div>
                        <div class="thumb_deadline">
                            <h4>
                                Dead Line: <span>05-09-2022</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>