<style>
    section {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
<section class="py-5" style="background-image: url('assets/images/cybersecurity/key_bg.png');">
    <div class="container">
            <div class="section_title_separate_bg section_title_separate text-center mb-4">
                <h2>key Partners</h2>
            </div>
        <div class="key_card mt-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="assets/images/logo/apis.png" alt="image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p class="description">
                        <a href="http://apis.ap.gov.in/" target="_blank">Andhra Pradesh Innovation Society (APIS)</a>
                        was
                        set up in the year 2015 functioning under the administrative control of the ITE & C
                        Department, the state nodal agency for spearheading the promotion of Innovations, Startups,
                        and Entrepreneurship among first-generation entrepreneurs, researchers, students, citizens,
                        and the government.
                    </p>
                    <div class="stmt_knowmore">
                        <a class="apply_button rounded" href="http://apis.ap.gov.in/" target="_blank">
                            Know More <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="key_card my-4">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="assets/images/cybersecurity/ncidsci.png" alt="image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p class="description">
                        National Centre of Excellence for Cyber Security Technology Development and Product
                        Entrepreneurship, a joint initiative of the Data Security Council of India (DSCI) and the
                        Ministry of Electronics and Information Technology (MeitY), works as a multiplier for
                        cybersecurity research, innovation, and product development. Through the CoE, the Government of
                        India and DSCI envisage creating a conducive ecosystem, nurturing innovation, and encouraging
                        security product entrepreneurship in the country.
                    </p>
                    <div class="stmt_knowmore">
                        <a class="apply_button rounded" href="https://www.n-coe.in/" target="_blank">
                            Know More <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="key_card mb-4">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="assets/images/cybersecurity/apts_logo.png" alt="image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p class="description">
                        APTSAndhra Pradesh Technology Services (APTS) is a wholly-owned Government Company incorporated
                        in the year 1986. Under the administrative control of Information Technology, Electronics &
                        Communication Department (ITE&C) Department, APTS is a self sustained company.
                    </p>
                    <div class="stmt_knowmore">
                        <a class="apply_button rounded" href="https://apts.gov.in/" target="_blank">
                            Know More <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="key_card">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="assets/images/cybersecurity/vit_logo.png" alt="image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p class="description">
                        With a history of 37 years of innovation in educational and research domain, VIT has been a
                        forerunner in delivering quality education. Consistently ranked among the top educational
                        institutes in the country, the VIT group of institutions.
                    </p>
                    <div class="stmt_knowmore">
                        <a class="apply_button rounded" href="https://vitap.ac.in/" target="_blank">
                            Know More <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>