<section class="">
    <div class="container">
        <div class="section_title">
            <h2>More Info
            </h2>
        </div>
        <div class="section_content pt-3">
            <p>
              Here are a few additional information that you may find useful
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="accordion-wrapper">
                    <div class="accordion">
                      <input type="radio" name="radio-a" id="check1" checked>
                      <label class="accordion-label" for="check1">1. Selection Criteria</label>
                      <div class="accordion-content">
                        <p>
                          Applicants will be <strong>selected based on the novelty and utility</strong> for any new concept or idea or design or solution to the proposed problem statements. The concept of Innovation should have been proved through a <strong>Model, Prototype, Minimal Viable Product (MVP), Tool and Technology</strong>. The parameters that will be considered in selecting the applications are as follows:
                        </p>
                        <div class="accordion-content-title">
                          <h2>
                            Innovation & Creativity
                          </h2>
                          <p>
                            Higher scores will be given to entries that skip a generation of existing solutions and give <strong>out-of-the-box approaches</strong> to solve the problem
                          </p>
                          <h2>
                            Relevance & Accuracy
                          </h2>
                          <p>
                            Submission of the solution should have reference to the theme of competition and should provide an innovative, efficient, sustainable, and rapid solution to the problem. The submission will receive higher scores if it <strong>addresses big problems with large beneficiaries or cost and/or time savings</strong> in methodology and receive lower scores for just nice-to-have solutions
                          </p>
                          <h2>
                            Efficiency & Feasibility
                          </h2>
                          <p>
                            The competition doesn’t want the participant to just come up with an innovative solution but one that is technically and practically feasible. Lower scoring will be given if the innovation does not appear to be a realistic success
                          </p>
                          <p>
                            Higher points will be given if the <strong>innovative solutions are cost effective</strong> and try to prove the same with a well-thought-out plan by considering market size, expenditure, socio-political and economic impact
                          </p>
                          <h2>
                            Communication
                          </h2>
                          <p>
                            Communication plays a vital role to portray ideas and put them to action. A good submission should not only include <strong>a critically-thought, innovative and feasible solution</strong> but should also be effectively demonstrated and communicated
                          </p>
                        </div>
                        <p>

                        </p>
                      </div>
                    </div>
                    <div class="accordion">
                      <input type="radio" name="radio-a" id="check2">
                      <label class="accordion-label" for="check2">
                        2. Ethics & Code of Conduct
                      </label>
                      <div class="accordion-content">
                        <p>
                          All participants are required to act in a professional and ethical manner throughout the competition. Failure to act as per the code of conduct can result in disqualification at any stage of the competition. In this regard, any ‘means of unfair competition’, as stated below, will lead to immediate disqualification:
                        </p>
                        <div class="accordion-content-title">
                          <ul>
                            <li>
                              	Any means of plagiarism in the materials and ideas used in the competition
                            </li>
                            <li>
                              	Failure to provide credit for any sources referred to as aid in the development of solutions
                            </li>
                            <li>
                              	Any false or malicious statements about other contestants, organizers of the competition, panel of judges or others involved in the competition
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion">
                      <input type="radio" name="radio-a" id="check3">
                      <label class="accordion-label" for="check3">
                        3. Patents & Intellectual Property Rights
                      </label>
                      <div class="accordion-content">
                        <ul>
                          <li>
                              By submitting an entry to the Innovation Challenge, participants are acknowledging that their ideas/research will be made publicly accessible and shared with industry professionals                            
                          </li>
                          <li>
                              The Existing Rights and the Proprietary Rights remain the exclusive property of the Participants who own them. Moreover, the Participants alone shall decide whether to protect any know-how of their own and to register or protect or defend any Proprietary Rights or Existing Rights
                          </li>
                          <li>
                              If required APIS would also support protecting the IPR/ Copyright/ Patent of the innovators based on the expert opinion report from NRDC, Visakhapatnam
                          </li>
                          <li> 
                              However, if the innovator receives a request from the concerned government department, it should be granted to the organizer/ the provider, free of charge, on the deliverables, i.e., within the sole framework of the Challenge
                          </li>
                          <li>
                              Participants agree not to abuse the rights that may be granted to them by law, any abuse entitling the Organizer to disqualify the participant concerned
                          </li>
                        </ul>
                        <!-- <p>
                          By submitting an entry to the Innovation Challenge, students are
acknowledging that their ideas/research will be made publicly accessible
and shared with industry professionals
                        </p>
                        <p>
                          Innovative ideas/ Prototypes/ codes/ dashboards/MVPs/ Products
being developed should not have violated/ breached/ copied any product
already launched and/or copyrighted or patented. For the product to be
developed as part of the FINTECH Challenge, if any IPR/Patent is being used,
contesting entity must possess the legitimate rights to use the IPR/ Patents
                        </p>
                        <p>
                          If any IPR/Copyright/Patent is filed during/post-completion of the
FINTECH challenge, its rights would be jointly shared by the startup/student
and the concerned government department that submitted the problem
statement to APIS
                        </p>
                        <p>
                          APIS would also support protecting the IPR/Copyright/Patent of the
innovators based on the expert opinion report from NRDC, Vishakapatnam
                        </p> -->
                      </div>
                    </div>
                    <div class="accordion d-none">
                        <input type="radio" name="radio-a" id="check4">
                        <label class="accordion-label" for="check4">Does my solution need to focus exclusively on one problem statement?</label>
                        <div class="accordion-content">
                          <p>If you liked then don't forget to subscribe the channel for latest videos. </p>
                        </div>
                      </div>
                      <div class="accordion d-none">
                        <input type="radio" name="radio-a" id="check5">
                        <label class="accordion-label" for="check5">Do I need to submit a solution after being shortlisted?</label>
                        <div class="accordion-content">
                          <p>If you liked then don't forget to subscribe the channel for latest videos. </p>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
    
</section>