section {
    /* background: rgb(71,7,106);
    background: linear-gradient(90deg, rgba(71,7,106,1) 100%, rgba(172,4,175,1) 100%); */
    padding: 60px 0;

}
section {
    /* padding: 50px 0; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section_title {
    /* margin-bottom: 50px; */
}
.section_title h2 {
    /* color: #fff; */
    color: #028C72;
    font-size: 36px;
    font-weight: 900;
    /* line-height: 44px; */
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;    
}
.section_content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
  }
  .section_content p {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 22px; */
    letter-spacing: 0em;
    text-align: center;  

}
.title h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justified;
    color: #fff;
    padding: 15px 0;
}
.title h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justified;
    color: #fff;
}
.des p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.ullist ul {
    /* list-style: none; */
    padding: 14px;
}
::marker {
    color: #028C72;
}

.ullist ul li {
    padding-left: 0;
    position: relative;
    margin-bottom: 8px;
    color: #333;
    /* color: rgba(4,57,94,.7); */
}

.ullist ul li i {
    position: absolute;
    left: 0;
    top: 6px;
    font-size: 16px;
    color: #2DA771;
    line-height: 1;
}