    <!-- background-image: url('/assets/images/winner/winnerbg3.png'); -->
    <section class="details_hero" style="background-image: url('assets/images/winner/winnerbg.png')">
    <div class="container">
        <div class="section_title">
            <h2>Processes and Timelines</h2>
        </div>
        <!-- <div class="section_content">
            <p>
                Summary of executing the “FINTECH Innovation Challenge”
                hosted by APIS in partnership with APCFSS & FINBLUE CoE
                by STPI, Chennai
            </p> 
        </div> -->
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="ullist pb-4">
                    <ul>
                        <li>
                            Deadlines should be strictly adhered to and no further entries will be accepted beyond them.
                        </li>
                        <li>
                            Please note that there is no sponsorship or reimbursement available for FINTECH
Challenge costs such as developing design prototypes
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <div class="timeline_image text-center">
                    <img src="assets/images/timelinebg.png" alt="image" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row d-none">
            <div class="col-md-12">
                <div class="timeline_image">
                    <img src="assets/images/timelinejourney.png" alt="image" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <h3>Start Registration</h3>
                    <h5 class="pt-4">September 10th, 2022</h5>
                </div>
                <div class="des">
                    <p>
                        Register to participate in Fintech Challenge 2022. Registration closes on September 6th, 2022
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <h3>Initial Applications Screening</h3>
                    <h5>October 15, 2022</h5>
                </div>
                <div class="des">
                    <p>
                        Submit your proposal (s) for one or more selected problem statement (s) Proposal (s) can be submitted after registration by September 22nd, 2022
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <h3>Virtual Pitch Deck Presentations</h3>
                    <h5>October 30th, 2022</h5>
                </div>
                <div class="des">
                    <p>
                        Register to participate in Fintech Challenge 2022. Registration closes on September 6th, 2022
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <h3>In person Demonstration</h3>
                    <h5>November 5th, 2022</h5>
                </div>
                <div class="des">
                    <p>
                        Proposals will be reviewed and shortlisted by a panel of experts and the results of the shortlisted solutions will be declared on October 7th, 2022
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <h3>Awards Ceremony</h3>
                    <h5 class="pt-4">November 5th, 2022</h5>
                </div>
                <div class="des">
                    <p>
                        Final evaluation and announcement of Winner/s
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>