
<section class="py-5 intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70 py-3" style="background: #f4f0f7;position: relative;">
    <div class="container">

        <div class="row clearfix">
            <!-- Content Column -->
            <div class="col-lg-12 md-mb-50">
                <!-- Intro Info Tabs-->
                <div class="intro-info-tabs">
                    <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                        <li class="nav-item tab-btns">
                            <a class="nav-link tab-btn active" id="prod-curriculum-tab" data-bs-toggle="tab" href="#prod-curriculum" role="tab" aria-controls="prod-curriculum" aria-selected="false">About Fintech Innovation Challenge</a>
                        </li>
                        <li class="nav-item tab-btns">
                            <a class="nav-link tab-btn" id="prod-overview-tab" data-bs-toggle="tab" href="#prod-overview" role="tab" aria-controls="prod-overview" aria-selected="true">Background</a>
                        </li>
                        <!-- <li class="nav-item tab-btns">
                            <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#prod-instructor" role="tab" aria-controls="prod-instructor" aria-selected="false">Esteemed Committee Members</a>
                        </li> -->
                        <li class="nav-item tab-btns d-none">
                            <a class="nav-link tab-btn" id="prod-faq-tab" data-bs-toggle="tab" href="#prod-faq" role="tab" aria-controls="prod-faq" aria-selected="false">Achievements</a>
                        </li>
                        <!-- <li class="nav-item tab-btns">
                            <a class="nav-link tab-btn" id="prod-reviews-tab" data-bs-toggle="tab" href="#prod-reviews" role="tab" aria-controls="prod-reviews" aria-selected="false">Objectives</a>
                        </li> -->
                    </ul>
                    <div class="tab-content tabs-content" id="myTabContent">

                        <div class="tab-pane fade  show active" id="prod-curriculum" role="tabpanel" aria-labelledby="prod-curriculum-tab">

                            <div class="content white-bg pt-30">
                                <!-- Cource Overview -->
                                <div class="course-overview">
                                    <div class="inner-box section-title">
                                        <h4>About Fintech Innovation Challenge</h4>
                                        <p>
                                            <strong><a href="http://apis.ap.gov.in/" target="_blank" style="text-decoration: none;">AP Innovation Society (APIS)</a></strong> in partnership with <strong> <a href="https://apcfss.in/" target="_blank">APCFSS</a></strong> & <strong><a href="https://finblue.stpi.in/" target="_blank">FinBlue STPI CoE</a>, Chennai</strong>, is launching the <strong>"FINTECH Innovation Challenge"</strong> for scouting innovations and start-ups engaged in using emerging technologies such as <strong>Internet of Things  (IoT), Artificial Intelligence (AI), Machine Learning (ML), Data Science, Analytics, Smart Decision tools, Blockchain & Robotics</strong> to democratize financial services in the state by
way of improvement in the existing procedures and identification of bottlenecks and gaps that can be addressed primarily in the stated thematic areas

                                        </p>

                                        <p>
                                            The goal of this challenge is to bring together stakeholders from the Indian start-up ecosystem, such as entrepreneurs, industrialists, investors, experts, government, and aspiring start-ups, to test, refine, and validate their solutions
                                        </p>
                                        <p>
                                            The problem statements are devised in close communication with the State Government Departments and industry partners for the start-ups to showcase their capabilities in these emerging technologies
                                        </p>
                                        <p>
                                            Apart from <strong>cash incentives of up to INR 50 Lakh</strong> distributed among <strong>Winners, 1st Runners and 2nd Runners teams</strong> the selected start-ups will also get a chance to get incubation, mentoring, access to funding schemes & procurement support for prototyping as well as piloting opportunities in the state
                                        </p>
                                        <ul class="student-list d-none">
                                            <li>23,564 Total Students</li>
                                            <li><span class="theme_color">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> (1254 Rating)
                                            </li>
                                            <li>256 Reviews</li>
                                        </ul>
                                        <!-- <h3>What you’ll learn?</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                        <!-- <h3>Requirements</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Varius et commodo ut, ultricies vitae velit. Ut nulla tellus.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="content d-none">
                                <div id="accordion" class="accordion-box">
                                    <div class="card accordion block">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link acc-btn" data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Vision</button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body acc-content current">
                                                <div class="content">
                                                    <p>Eleifend euismod pellentesque vel Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus.
                                                        Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus.</p>
                                                </div>
                                                <div class="content d-none">
                                                    <div class="clearfix">
                                                        <div class="pull-left">
                                                            <a class="popup-videos play-icon" href="javascript:void(0)"><i class="fa fa-play"></i>What is Vission</a>
                                                        </div>
                                                        <div class="pull-right">
                                                            <!-- <div class="minutes">35 Minutes</div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content d-none">
                                                    <div class="clearfix">
                                                        <div class="pull-left">
                                                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="popup-videos play-icon"><span class="fa fa-play"><i class="ripple"></i></span>What is UI/ UX Design?</a>
                                                        </div>
                                                        <div class="pull-right">
                                                            <div class="minutes">35 Minutes</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content d-none">
                                                    <div class="clearfix">
                                                        <div class="pull-left">
                                                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="popup-videos play-icon"><span class="fa fa-play"></span>What is UI/ UX Design?</a>
                                                        </div>
                                                        <div class="pull-right">
                                                            <div class="minutes">35 Minutes</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane tab fade" id="prod-overview" style="border-top: 2px solid #1ACC8D" role="tabpanel" aria-labelledby="prod-overview-tab">
                            <div class="content white-bg pt-30">
                                <!-- Cource Overview -->
                                <div class="course-overview">
                                    <div class="inner-box section-title">
                                        <h4>Background</h4>
                                        <div class="societyUrl text-right d-none" style="color: #004982;">
                                            <strong>URL : </strong> <a href="http://apis.ap.gov.in/" target="_blank" style="color: #1acc8d;text-decoration: none;font-weight: bold;">http://apis.ap.gov.in/</a>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                        <p>
                                            The term ‘Fintech’, the short form of the phrase financial technology denotes an industry that is comprised of companies that use technology for efficient delivery of financial services. It is an emerging type of service in this 21stcentury. The new start-up companies are trying to replace the traditional transaction system with new, effective methods by applying technology in financial sectors for mobile payments, loans, money transfers, and even asset management
                                        </p>
                                        <p>
                                            India is a growing market for Fintech with a population of nearly 1.3 billion. A huge percentage of the unbanked and underbanked population is making India an exhilarating global space for financial technologies. Fintech is regarded as a game changer and disruptive innovation, which can shake up the traditional financial markets. The rise in the number of Fintech start-ups during the last five years has contributed to the growth of many other sectors through their efficient financial strategies. The scope propels the industry for growth and profitability
                                        </p>
                                        <p>
                                            The Government of Andhra Pradesh envisions building a robust Fintech ecosystem in the state by creating a roadmap for the growth of this industry by identifying the opportunities and establishing Andhra Pradesh as the leader in infrastructure and emerging technologies
                                        </p>
                                            </div>
                                            <div class="col-md-5">
                                                <img src="assets/images/eventdetailsabout.png" alt="image" class="img-fluid">
                                            </div>

                                        </div>
                                        <p>
                                            India is a growing market for Fintech with a population of nearly 1.3 billion. A huge
percentage of the unbanked and underbanked population is making India an
exhilarating global space for financial technologies. Fintech is regarded as a game
changer and disruptive innovation, which is capable of shaking up the traditional
financial markets. The rise in the number of Fintech start-ups during the last five
years has contributed to the growth of many other sectors through their efficient
financial strategies. The scope propels the industry in itself for growth and
profitability.

                                        </p>
                                        <p>
                                            The <strong>Government of Andhra Pradesh</strong> envisions building a robust Fintech ecosystem
in the state by creating a roadmap for the growth of this industry by identifying the
opportunities and establishing Andhra Pradesh as the leader in infrastructure and
emerging technologies.
                                        </p>
                                        <div class="content d-none">
                                            <ul>

                                                <li><i class="fas fa-arrow-circle-right"></i>100 Incubators / Accelerators to be established</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>5,000 Companies & Start Ups to be incubated</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>1 million sq ft of Incubation Space to be developed</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Venture Capital of Rs 1000 Cr to be mobilized for Innovation</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Foster Innovation Culture</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Create at least one home grown billion dollar technology start-up</li>




                                            </ul>
                                        </div>


                                        <ul class="student-list d-none">
                                            <li>23,564 Total Students</li>
                                            <li><span class="theme_color">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> (1254 Rating)
                                            </li>
                                            <li>256 Reviews</li>
                                        </ul>
                                        <!-- <h3>What you’ll learn?</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                        <!-- <h3>Requirements</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Varius et commodo ut, ultricies vitae velit. Ut nulla tellus.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>





                        </div>

                        <div class="tab-pane fade" id="prod-instructor" role="tabpanel" aria-labelledby="prod-instructor-tab">

                            <div class="content white-bg pt-30">
                                <!-- Cource Overview -->
                                <div class="course-overview">
                                    <div class="inner-box section-title">
                                        <!-- <h4>Organizers</h4> -->
                                        <app-organizers></app-organizers>
                                        <!-- <p>APEITA conducted CXO Roundtable Conclave in First Quarter and the event was successful.</p> -->
                                        <div class="content d-none">
                                            <ul>
                                                <li><i class="fas fa-arrow-circle-right"></i>Help enable Digital Transformation and e-Governance of departmental processes to make delivery of citizen services simple, convenient and transparent</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Maintain HCM Core Dashboard to publish metrics for Government benefit schemes as directed by CMO</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Promulgate the published ITE&C standards and best practices across GoAP departments</li>

                                            </ul>
                                        </div>

                                        <ul class="student-list d-none">
                                            <li>23,564 Total Students</li>
                                            <li><span class="theme_color">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> (1254 Rating)
                                            </li>
                                            <li>256 Reviews</li>
                                        </ul>
                                        <!-- <h3>What you’ll learn?</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                        
                                        <!-- <h3>Requirements</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Varius et commodo ut, ultricies vitae velit. Ut nulla tellus.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="prod-faq" role="tabpanel" aria-labelledby="prod-faq-tab">
                            <div class="content white-bg pt-30">
                                <!-- Cource Overview -->
                                <div class="course-overview">
                                    <div class="inner-box section-title">
                                        <h4>Achievements</h4>
                                        <div class="container">
                                            <!-- <h4>Timeline Style : Demo-8</h4> -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec
                                                        risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus.</p>
                                                </div>
                                            </div>
                                            <div class="row d-none">
                                                <div class="col-md-12">
                                                    <div class="main-timeline8">
                                                        <div class="timeline">
                                                            <span class="timeline-icon timeline-icon1"></span>
                                                            <span class="year">GSWS Department</span>
                                                            <div class="timeline-content">
                                                                <!-- <h3 class="title">Web Desginer</h3> -->
                                                                <p class="description">
                                                                    Software platform developed to deliver citizen services from village/ ward secretariats; transitioned to their new vendor

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="timeline">
                                                            <span class="timeline-icon timeline-icon2"></span>
                                                            <span class="year">HCM Core Dashboard</span>
                                                            <div class="timeline-content">
                                                                <!-- <h3 class="title">Web Developer</h3> -->
                                                                <p class="description">
                                                                    Informs the citizens of HCM’s benefit schemes and programs by showcasing metrics of all key schemes up to Mandal level.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="timeline">
                                                            <span class="timeline-icon timeline-icon3"></span>
                                                            <span class="year">Planning Department</span>
                                                            <div class="timeline-content">
                                                                <!-- <h3 class="title">Web Desginer</h3> -->
                                                                <p class="description">
                                                                    Developed Connect Andhra website to enable people to contribute for various Government of Andhra Pradesh projects.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="timeline">
                                                            <span class="timeline-icon timeline-icon4"></span>
                                                            <span class="year">Agri Marketing Department</span>
                                                            <div class="timeline-content">
                                                                <!-- <h3 class="title">Web Developer</h3> -->
                                                                <p class="description">
                                                                    Developed and supported Agri Marketing services such as Rythu Bazar, e-Permit, Rythu Bandhu Pathakam (RBP), Warehouse Management System, etc.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="timeline">
                                                            <span class="timeline-icon timeline-icon5"></span>
                                                            <span class="year">Fisheries Department</span>
                                                            <div class="timeline-content">
                                                                <!-- <h3 class="title">Web Developer</h3> -->
                                                                <p class="description">
                                                                    Designed and developed applications such as registration of fishermen, beneficiary schemes (YSR Matsyakara Bharosa, Diesel Subsidy)(INR 10.01 Cr. availed).
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="timeline">
                                                            <span class="timeline-icon timeline-icon6"></span>
                                                            <span class="year">Law Department</span>
                                                            <div class="timeline-content">
                                                                <!-- <h3 class="title">Web Developer</h3> -->
                                                                <p class="description">
                                                                    Delivered YSR Law Nestham application for managing the benefit scheme (INR 12.24 Cr. availed so far).
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="student-list d-none">
                                            <li>23,564 Total Students</li>
                                            <li><span class="theme_color">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> (1254 Rating)
                                            </li>
                                            <li>256 Reviews</li>
                                        </ul>
                                        <!-- <h3>What you’ll learn?</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                        <!-- <h3>Requirements</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Varius et commodo ut, ultricies vitae velit. Ut nulla tellus.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="prod-reviews" role="tabpanel" aria-labelledby="prod-reviews-tab">
                            <div class="content white-bg pt-30">
                                <!-- Cource Overview -->
                                <div class="course-overview">
                                    <div class="inner-box section-title">
                                        <h4>Objecttives</h4>
                                        <div class="content">
                                            <ul>

                                                <li><i class="fas fa-arrow-circle-right"></i>Help GoAP departments to comply with IT standards and policies published by IT,E&C Department.</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Maintain HCM Core Dashboard publishing key metrics per CMO (starting with Navaratnalu and Manifesto programs).</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Quality Assurance CoE to provide QA and testing services to GoAP Departments.</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>CMMi 3 Certification in progress to ensure data security and best practices in software development.</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Provide integration services and consulting in SDLC best practices to user departments (BA, Architecture, QA, etc).</li>
                                                <li><i class="fas fa-arrow-circle-right"></i>Provide Digital Transformation of Government services and other such software development related support.</li>

                                            </ul>
                                        </div>
                                        <ul class="student-list d-none">
                                            <li>23,564 Total Students</li>
                                            <li><span class="theme_color">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> (1254 Rating)
                                            </li>
                                            <li>256 Reviews</li>
                                        </ul>
                                        <!-- <h3>What you’ll learn?</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Sed consequat justo non mauris pretium at tempor justo.</li>
                                            <li>Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                        <!-- <h3>Requirements</h3> -->
                                        <ul class="review-list d-none">
                                            <li>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo</li>
                                            <li>Ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                            <li>Varius et commodo ut, ultricies vitae velit. Ut nulla tellus.</li>
                                            <li>Phasellus enim magna, varius et commodo ut.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content pt-30 pb-30 white-bg d-none">
                                <div class="cource-review-box mb-30">
                                    <h4>Stephane Smith</h4>
                                    <div class="rating">
                                        <span class="total-rating">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>&ensp; 256 Reviews
                                    </div>
                                    <div class="text">Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus.</div>
                                    <div class="helpful">Was this review helpful?</div>
                                    <ul class="like-option">
                                        <li><i class="fa fa-thumbs-o-up"></i></li>
                                        <li><i class="fa fa-thumbs-o-down"></i></li>
                                        <li><a class="report" href="#">Report</a></li>
                                    </ul>
                                </div>
                                <div class="cource-review-box mb-30">
                                    <h4>Anna Sthesia</h4>
                                    <div class="rating">
                                        <span class="total-rating">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>&ensp; 256 Reviews
                                    </div>
                                    <div class="text">Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus.</div>
                                    <div class="helpful">Was this review helpful?</div>
                                    <ul class="like-option">
                                        <li><i class="fa fa-thumbs-o-up"></i></li>
                                        <li><i class="fa fa-thumbs-o-down"></i></li>
                                        <li><a class="report" href="#">Report</a></li>
                                    </ul>
                                </div>
                                <div class="cource-review-box mb-30">
                                    <h4>Petey Cruiser</h4>
                                    <div class="rating">
                                        <span class="total-rating">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>&ensp; 256 Reviews
                                    </div>
                                    <div class="text">Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus.</div>
                                    <div class="helpful">Was this review helpful?</div>
                                    <ul class="like-option">
                                        <li><i class="fa fa-thumbs-o-up"></i></li>
                                        <li><i class="fa fa-thumbs-o-down"></i></li>
                                        <li><a class="report" href="#">Report</a></li>
                                    </ul>
                                </div>
                                <div class="cource-review-box">
                                    <h4>Rick O'Shea</h4>
                                    <div class="rating">
                                        <span class="total-rating">4.5</span> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>&ensp; 256 Reviews
                                    </div>
                                    <div class="text">Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus.</div>
                                    <div class="helpful">Was this review helpful?</div>
                                    <ul class="like-option">
                                        <li><i class="fa fa-thumbs-o-up"></i></li>
                                        <li><i class="fa fa-thumbs-o-down"></i></li>
                                        <li><a class="report" href="#">Report</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Video Column -->
            <div class="video-column col-lg-4 d-none">
                <div class="rightSide d-none">
                    <ul class="rightUl">
                        <li>
                            <a href="">Course 2</a>
                        </li>
                        <li>
                            <a href="">Course 3</a>
                        </li>
                        <li>
                            <a href="">Course 4</a>
                        </li>
                    </ul>
                </div>
                <div class="inner-column row justify-content-center align-items-end">
                    <!-- <h4 style="color: #626262;">Gallery</h4> -->
                    <!-- Video Box -->
                    <div class="col-md-12">
                        <div class="societyLogo text-center">
                            <img src="assets/images/eventdetailsabout.png" alt="image" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-md-12 d-none">
                        <div class="societyUrl text-right" style="color: #004982;">
                            <strong>Visit : </strong>
                            <a href="https://www.apts.gov.in/" class="" target="_blank" style="color: #1acc8d;text-decoration: none;font-weight: bold;">https://www.apts.gov.in/</a>
                        </div>
                    </div>
                    <div class="intro-video media-icon orange-color2 d-none">
                        <img class="video-img img-fluid" src="assets/images/eventdetailsabout.png" alt="Video Image">
                        <a class="popup-videos" href="javascript:void(0)">
                            <i class="fa fa-play"></i>
                        </a>
                        <!-- <h4>Preview this course</h4> -->
                    </div>
                    <!-- End Video Box -->
                </div>
            </div>
        </div>
    </div>
</section>