<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="website_logo">
                    <img routerLink="/home" src="assets/images/logo/apis.png" alt="APIS Logo"
                        class="img-fluid" style="cursor: pointer;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="register_button float-end">
                    <button class="btn btn-success btn-md">
                        Brouchure &nbsp;&nbsp;<i class="text-white fa fa-file-download"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>