<!-- <section id="about" style="background-image: url('/assets/images/herobg.png');"> -->
    <!-- <div class="about_bg_two"></div> -->
    <section style="background-image: url('assets/images/rolesbg.png');">
        <!-- <div style="background-image: url('assets/images/aboutbg.png');
        background-repeat: no-repeat;background-position: bottom;
        background-size: cover;position:absolute;top: 0;bottom:
        0;right: 0;left: 0;">
    </div> -->
    <div class="container">
        <div class="section_title bg-text">
            <h2>About</h2>
            <!-- <h1>AP <span>Innovation Challenges & Grand Hackathons</span></h1> -->
        <!-- <h2 class="text-white"><i>"Turning ideas into Innovations"</i>
        </h2> -->

        </div>
        <!-- <div class="section_title">
            <h2>About AP State Innovation Challenges</h2>
        </div> -->
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="about_content">

                    <p>
                        With a mission to imbibe the culture of innovation and empower dreamers to become doers, so that their visionary ideas can transform into successful businesses. <a href="http://apis.ap.gov.in/" target="_blank" style="text-decoration: none;">AP Innovation Society (APIS)</a> in partnership with various Government Departments in Andhra Pradesh organising a series of Innovation Challenges for the aspiring innovators/ start-ups/ students to device creative, sustainable and impactful solutions
                    </p>

                    <!-- <p>
                        AP Innovation Society (APIS) in partnership with its various Government Departments announces the launch of a series of Innovation Challenge /Hackathons for the aspiring innovators/ start-ups/ students to device creative, sustainable and impactful solutions
                    </p>
                    <p>
                        Our mission is to imbibe the culture of innovations and empower dreamers to become doers, so that their visionary ideas can transform into successful businesses. Keep yourself abreast with the featured Innovation Challenges hosted by APIS and participate to win exciting cash rewards
                    </p> -->
                    <!-- <p>
                        AP Innovation Society in collaboration with its ecosystem stakeholders announces the launch 
                        of various Innovation Challenge/Hackathons for the aspiring innovators to device creative, 
                        sustainable and impactful solutions for the problem statements identified from different Government 
                        Departments. 
                    </p>
                    <p>
                        The proposed challenges shall provide a platform for the ecosystem players to unite problems 
                        with problem solvers and unearth solutions from around the state and country in a way to improve 
                        governance in terms of improving reach, efficiency, and transparency.
                    </p> -->
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="about_image">
                    <img src="assets/images/aboutside.jpg" alt="About Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>