<section>
    <div class="container">
        <div class="section_title">
            <h2>Be A Sponsor
            </h2>
        </div>
        <div class="section_content">
            <p>
                Support and innovate together with us in any of our Innovation Challenges! Willing to be part of creating champions of change then reach us at 
                <a href="mailto:startupmanager1-apis@ap.gov.in" target="_blank">startupmanager1-apis[at]ap[dot]gov[dot]in</a>
            </p>
        </div>
        <div class="row">
        </div>
    </div>
</section>