section {

    /* background: rgb(102,55,142);
    background: linear-gradient(90deg, rgba(102,55,142,1) 0%, rgba(194,2,98,1) 35%); */
    padding: 60px 0;
}
.section_title {
    /* margin-bottom: 30px; */
}
.section_title h2 {
    font-size: 40px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;    
    /* text-transform: uppercase; */
    color: #028C72; 
}
.section_title h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    /* color: #fff; */
    text-transform: uppercase;
}
.section_content {
    width: 75%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
  }
  .section_content p {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;    
}
.company_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}