<section>
    <div class="container">
        <div class="section_title">
            <h2>Ecosystem Partners
            </h2>
            
        </div>
        <!-- <div class="section_content">
            <p>
                Online courses, programs and degrees created by leading  universities, business schools and specialist organizations.
            </p>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="company_logos">
                    <img src="assets/images/logo/meityhub.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/logo/startupindia.png" alt="Logo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>