<section>
    <div class="container">
        <div class="section_title">
            <h2>Ecosystem Partners
            </h2>
            
        </div>
        <!-- <div class="section_content">
            <p>
                Online courses, programs and degrees created by leading  universities, business schools and specialist organizations.
            </p>
        </div> -->
        <div class="row">
            <div class="col-md-12 d-none">
                <div class="company_logos">
                    <img src="assets/images/organized/one.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/organized/two.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/organized/three.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/organized/four.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/organized/five.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/organized/six.png" alt="Logo" class="img-fluid">
                    <img src="assets/images/organized/seven.png" alt="Logo" class="img-fluid last_logo">
                </div>
            </div>
            <div class="col-md-12">
                <div class="clogos mt-4">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <a href="http://ap.gov.in/" target="_blank">
                                <img src="assets/images/logo/aplogo.png" alt="Logo" class="img-fluid" style="width: 60%;">
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="http://apis.ap.gov.in/" target="_blank">
                                <img src="assets/images/logo/apis.png" alt="Logo" class="img-fluid">
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="https://apcfss.in/" target="_blank">
                                <img src="assets/images/logo/apcfss.png" alt="Logo" class="img-fluid">
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="https://finblue.stpi.in/" target="_blank">
                                <img src="assets/images/logo/finbluetwo.png" alt="Logo" class="img-fluid">
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="https://meitystartuphub.in/" target="_blank">
                                <img src="assets/images/logo/meityhub.png" alt="Logo" class="img-fluid">
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="https://www.startupindia.gov.in/" target="_blank">
                                <img src="assets/images/logo/startupindianew.jpeg" alt="Logo" class="img-fluid">
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="https://apsac.ap.gov.in/" target="_blank">
                                <img src="assets/images/logo/apsac.jpeg" alt="Logo" class="img-fluid">
                            </a>
                        </ng-template>
    
                    </owl-carousel-o>                
                </div>
            </div>
        </div>
    </div>
</section>