<section style="background-image: url('assets/images/clientbg2.png');">
    <div class="container">
        <div class="section_title">
            <h2>Non-Fiscal Incentives
            </h2>
        </div>
        <div class="section_content d-none">
            <p>
                Transform your team's health and wellness in just 2 minutes
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/artboard.png" alt="image" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="ullist">
                    <ul>
                        <li>
                            Incubation Support
                        </li>
                        <li>
                            Mentorship Support
                        </li>
                        <li>
                            Access to funding schemes
                        </li>
                        <li>
                            Piloting & Procurement Support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>