
<!-- <section class="banner_section" style="background-image: url('assets/images/cybersecurity/cyber_innerbanner.jpg');"> -->

<!-- <section class="banner_section" style="background-image: url('https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-da40-61f7-8407-5b6899bb2e14/raw?se=2025-04-24T04%3A35%3A35Z&sp=r&sv=2024-08-04&sr=b&scid=7161743a-5277-512a-81d0-b9fda1dbc17c&skoid=f0c3f613-0f9b-4a8a-a29a-c1a910343ad7&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-23T18%3A34%3A17Z&ske=2025-04-24T18%3A34%3A17Z&sks=b&skv=2024-08-04&sig=XOerWlzbeCn4it97rvhui9bKxdwl6xmegR58Ez%2BCgTk%3D');"> -->


    <!-- <section class="banner_section" style="background-image: url('https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-df04-61f7-99e8-42dbc575bb3c/raw?se=2025-04-24T05%3A32%3A13Z&sp=r&sv=2024-08-04&sr=b&scid=e8c707df-0708-5d0f-b0e4-bcaefb365ac9&skoid=f0c3f613-0f9b-4a8a-a29a-c1a910343ad7&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-23T11%3A15%3A38Z&ske=2025-04-24T11%3A15%3A38Z&sks=b&skv=2024-08-04&sig=0oIaZ9CJ7nOmVrMeqculmUVzvpZRCJjLq3lDxQZcOTk%3D');"> -->

    <!-- <section class="banner_section" style="background-image: url('https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-df04-61f7-99e8-42dbc575bb3c/raw?se=2025-04-24T05%3A32%3A13Z&sp=r&sv=2024-08-04&sr=b&scid=e8c707df-0708-5d0f-b0e4-bcaefb365ac9&skoid=f0c3f613-0f9b-4a8a-a29a-c1a910343ad7&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-23T11%3A15%3A38Z&ske=2025-04-24T11%3A15%3A38Z&sks=b&skv=2024-08-04&sig=0oIaZ9CJ7nOmVrMeqculmUVzvpZRCJjLq3lDxQZcOTk%3D');"> -->
    <!-- <section class="banner_section" style="background-image: url('https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-d610-61f7-8000-a56ceb1c8345/raw?se=2025-04-24T04%3A42%3A04Z&sp=r&sv=2024-08-04&sr=b&scid=563e41ba-c9bf-5d51-b5f5-dc197afe5c20&skoid=f0c3f613-0f9b-4a8a-a29a-c1a910343ad7&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-24T03%3A13%3A13Z&ske=2025-04-25T03%3A13%3A13Z&sks=b&skv=2024-08-04&sig=mTVCyq%2BeJEdbYRx2s4JGDM7/NSy1BjfyuT0IlDf3QDQ%3D');"> -->


        <section class="banner_section" style="background-image: url('assets/images/civil2.png');">



            <!-- <app-headertwo></app-headertwo> -->
            
                <div class="container">
                    <style>
                        .section_title h2::after {
                            content: none !important;
                        }
                    </style>
                    <div class="section_title commontitle text-left">
                        <h2 style="color: orange;">
                            ai hackathon : computer vision based
                            smart surveillance for warehouses 2025 - Query Form
                            <!-- AI HACKATHON : COMPUTER VISION BASED
                            SMART SURVEILLANCE FOR WAREHOUSES -->
                        </h2>
                    </div>
                    
                </div>
            </section>
        <style>
            .card-body {
                box-shadow: 0px 0px 25px 0px #00000012;
                /* box-shadow: 0 0 10px #155384; */
            }
            .custom_class {
            margin-top: -150px;
        }
            .card {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right;
            }
        </style>
        <section class="mb-5 custom_class" style="position: relative;z-index: 9;">
            <div class="container">
                <div class="card card-body p-4" style="background-image: url('assets/images/cybersecurity/problem_bg.png');">
                    <!-- <div class="card card-body p-4">
                        <div class="text-center py-5">
                            <h4>Applications are Closed</h4>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-end">
                                    Back to Application Form <a class="btn btn-sm btn-success" routerLink="/civilsupplieshackathon">Click Here</a>
                                </div>
                            </div>
                        </div>
                <form class="mb-3" [formGroup]="queryForm" (ngSubmit)="onSubmitQueryForm()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Startup Name <span class="mandatory">*</span></label>
                                <input type="text" class="form-control" formControlName="startupName" placeholder="Enter Startup Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Email ID <span class="mandatory">*</span></label>
                                <input type="email" class="form-control" formControlName="emailID" placeholder="Enter Email ID" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Select Use Case <span class="mandatory">*</span></label>
                                <select name="" id="" class="form-select">
                                    <option value="" selected disabled>--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Enter Use Case <span class="mandatory">*</span></label>
                                <textarea name="" id="" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-5">
                                <button class="btn btn-sm btn-success">Submit Query</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </section>
        
        <!-- Modal -->
        <div class="modal fade" id="termsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="termsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-white" id="termsModalLabel">Terms & Conditions</h5>
                        <button type="button" class="btn-close bg-white opacity-100" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i class="bi bi-x-lg"></i>
                            <!-- <i class="fa fa-times"
                            aria-hidden="true"></i> -->
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tersm_content">
                                        <p>
                                            I hereby acknowledge that I have read and understood the terms and conditions
                                            governing my participation in the Cyber Security Innovation Challenge 2023.
                                        </p>
                                        <p>
                                            By submitting this form, I commit to complying with all the rules and regulations
                                            set forth by the organizers of the Cyber Security Innovation Challenge 2023. I
                                            understand that failure to adhere to these terms and conditions may result in
                                            disqualification from the competition.
                                        </p>
                                        <p>
                                            I further acknowledge that it is my responsibility to stay informed about any
                                            updates or changes to the terms and conditions throughout the duration of the
                                            competition.
                                        </p>
                                        <p>
                                            I am aware that participation in this challenge may require the handling of
                                            sensitive information and that I am obligated to maintain the highest standards of
                                            ethical conduct, confidentiality, and security.
                                        </p>
                                        <p>
                                            I affirm that I am legally eligible to participate in the Cyber Security Innovation
                                            Challenge 2023 and that all the information I provide is accurate and truthful to
                                            the best of my knowledge.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>