.gototop {
    position: fixed;
    bottom: 10%;
    right: 5px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    /* border-radius: 5px; */
    outline: none;
    /* padding: 20px; */
    z-index: 99;
  }
  .gototop i {
    margin-top: -3px;
    padding: 24px 8px;
    line-height: 0;
  }