<section class="py-5">
    <div class="container">
        <div class="timeline">
            <div class="timeline-container primary">
                <div class="timeline-icon">
                    <i class="fa fa-calendar-alt"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title">
                        Phase I
                        <!-- <span class="badge">Primary</span> -->
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                    <p class="timeline-subtitle">August 18, 2022</p>
                </div>
            </div>
            <div class="timeline-container danger">
                <div class="timeline-icon">
                    <i class="fa fa-calendar-alt"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title">
                        Phase 2
                        <!-- <span class="badge">Primary</span> -->
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                    <p class="timeline-subtitle">October 7, 2022</p>
                </div>
            </div>
            <div class="timeline-container success">
                <div class="timeline-icon">
                    <i class="fa fa-calendar-alt"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title">
                        Phase 3
                        <!-- <span class="badge">Primary</span> -->
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                    <p class="timeline-subtitle">October 22, 2022</p>
                </div>
            </div>
            <div class="timeline-container warning">
                <div class="timeline-icon">
                    <i class="fa fa-calendar-alt"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title">
                        Phase 4
                        <!-- <span class="badge">Primary</span> -->
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                    <p class="timeline-subtitle">November 26, 2022</p>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="fa fa-calendar-alt"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Secondary</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">3 Days Ago</p>
                </div>
            </div>
            <div class="timeline-container info">
                <div class="timeline-icon">
                    <i class="fa fa-calendar-alt"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Info</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">4 Days Ago</p>
                </div>
            </div>
        </div>
    </div>
</section>