<section>
    <div class="container">
        <div class="section_title">
            <h2>Incentives</h2>
        </div>
        <div class="section_content">
            <p>
                All the presentations and prize distributions will be conducted
                at either at
                Vishakhapatnam or Vijayawada subject to approval from the
                concerned authorities.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="winner_side_image">
                    <img src="assets/images/artboard.png" alt="Art Board"
                        class="img-fluid">
                </div>
            </div>
            <div class="col-md-7">
                <div class="winner_boxes">
                    <div class="box">
                        <div class="box_heading">
                            <h4>Winner</h4>
                        </div>
                        <div class="box_content">
                            <p>Rs 10.00 lakh</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_heading">
                            <h4>Winner</h4>
                        </div>
                        <div class="box_content">
                            <p>Rs 10.00 lakh</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_heading">
                            <h4>Winner</h4>
                        </div>
                        <div class="box_content">
                            <p>Rs 10.00 lakh</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_heading">
                            <h4>Winner</h4>
                        </div>
                        <div class="box_content">
                            <p>Rs 10.00 lakh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>