<style>
    .herobg::before {
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        /* filter: brightness(.9) contrast(1.5); */
        /* background-image: url("assets/images/cybersecurity/cyberbg.png"); */
        /* background-image: url("https://angular.hibootstrap.com/tazo/overlay-shape.b41d46d00d4727a2.png"); */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .herobg {
        z-index: 1;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-top: 100px;
        padding-bottom: 100px; */
    }


    .herobg::before {
        /* top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(.9) contrast(1.5);
    background-image: url("https://angular.hibootstrap.com/tazo/overlay-shape.b41d46d00d4727a2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
        /* class="feature-section bg-image pt-100 pb-75 d-none d-block" */
        /* z-index: 1;
    position: relative;
    clip-path: polygon(2% 0,98% 0,100% 2%,100% 98%,98% 100%,2% 100%,0 98%,0 2%);
    background-image: url("https://angular.hibootstrap.com/tazo/artificial-bg.d9d8afc185824df2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    }
</style>
<!-- <section class="herobg" style="background-image: url('assets/images/homebgfive.jpeg');"> -->
    <!-- assets/images/cybersecurity/cyberbg.png -->
    <!-- <section class="herobg" style="background-image: url('https://angular.hibootstrap.com/tazo/shield-bg.b9aca09b3915a807.jpg');"> -->
        <section class="herobg" style="background-image: url('assets/images/cybersecurity/cyber_bg2.png');">
        <div class="container">
        <div class="row pt-3">
            <div class="col-md-4">
                <div>
                    <img src="assets/images/cybersecurity/cyber_thumb2.png" alt="image" class="img-fluid"
                    style="width: -webkit-fill-available;">
                    <!-- <div class="linkedin social_img position-absolute" style="right: 0;bottom: 0;">
                        <a href="https://www.linkedin.com/in/andhra-pradesh-innovation-society-4a3483217/" target="_blank">
                            <img src="assets/images/linkedin.png" alt="Linkedin Logo"
                                class="img-fluid">
                        </a>
                    </div> -->
                </div>
                <div class="actions text-center py-3">
                    <style>
                        .actions .enroll_button {
                            /* border: 2px solid #028C72; */
                            /* background: #d7aa2b;
                            padding: 20px 0;
                            width: -webkit-fill-available; */
                            background: #1ab51a;
                            padding: 8px 0;
                            width: 42%;
                            border-radius: 30px;
                            margin-top: 20px;
                        }

                        .modal_actions .enroll_button {
                            /* border: 2px solid #028C72; */
                            /* background: #d7aa2b;
                            padding: 20px 0;
                            width: -webkit-fill-available; */
                            background: #1ab51a;
                            padding: 4px 0;
                            width: 13%;
                            border-radius: 30px;
                            /* margin-top: 20px; */
                            float: right;
                            font-size: 14px;
                        }

                        .social_img img {
                            background-image: url('assets/images/socialiconbg.png');
                        }

                        .social_img img:hover {
                            background-image: url('assets/images/socialiconbghover.png');
                        }
                    </style>
                    <style>
                        .pulse-button {

                            cursor: pointer;
                            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
                            -webkit-animation: pulse 1.5s infinite;
                        }

                        .pulse-button:hover {
                            -webkit-animation: none;
                        }

                        @keyframes pulse {
                            0% {
                                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                                opacity: 1;
                            }

                            100% {
                                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                                opacity: 0;
                            }
                        }


                        @keyframes pulse {
                            0% {
                                box-shadow: 0 0 0 0 rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3);
                            }

                            100% {
                                box-shadow: 0 0 0 1em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3), 0 0 0 2em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0);
                            }
                        }

                        /* 
@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 84, 33, 0.3), 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3);
    }
    100% {
        box-shadow: 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3), 0 0 0 8em rgba(255, 84, 33, 0);
    }
} */


                        @-webkit-keyframes pulse {
                            0% {
                                -moz-transform: scale(0.9);
                                -ms-transform: scale(0.9);
                                -webkit-transform: scale(0.9);
                                transform: scale(0.9);
                            }

                            70% {
                                -moz-transform: scale(1);
                                -ms-transform: scale(1);
                                -webkit-transform: scale(1);
                                transform: scale(1);
                                box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
                            }

                            100% {
                                -moz-transform: scale(0.9);
                                -ms-transform: scale(0.9);
                                -webkit-transform: scale(0.9);
                                transform: scale(0.9);
                                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
                            }
                        }
                    </style>
                    <span class='pulse-button d-none'>pulse</span>

                    <!-- data-toggle="modal" data-target="#registrationModal" -->

                    <a routerLink="/challengesform" style="cursor: pointer;"
                        class="pulse-button btn enroll_button text-center text-white text-uppercase">Apply</a>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table-borderless">
                        <tbody>
                            <tr>
                                <th>
                                    <img src="assets/images/map.png" alt="image" class="img-fluid">
                                    <!-- <i class="fa fa-map-marker fa-2x"></i> -->
                                </th>
                                <!-- <th>-</th> -->
                                <td style="font-size: 18px;">VIT AP University, Amaravati, Andhra Pradesh</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="pl-0" style="padding-left: 0 !important;">
                                    <div class="hstack gap-2 align-items-center">
                                        <div class="fb social_img">
                                            <a href="https://m.facebook.com/StartupAPIS/" target="_blank">
                                                <img src="assets/images/facebook.png" alt="FB Logo" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="linkedin social_img">
                                            <a href="https://www.linkedin.com/in/andhra-pradesh-innovation-society-4a3483217/" target="_blank">
                                                <img src="assets/images/linkedin.png" alt="Linkedin Logo"
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="twitter social_img">
                                            <a href="https://twitter.com/Startup_APIS" target="_blank">
                                                <img src="assets/images/twitter.png" alt="Twitter Logo"
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-8">




                <div class="event_details">
                    <div class="event_name_details">
                        <!-- <i class="fa fa-calendar"></i> -->
                        <!-- <h4>Event Name</h4> : -->
                        <h2 style="color: orange !important;">Cyber Security Innovation Challenge 2023</h2>
                    </div>


                </div>


                <!-- event table starts -->
                <style>
                    .event_basic_info p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #fff;
                    }
                    .event_basic_info span {
                        color: #fff;
                    }
                    .event_basic_info span  {
                        /* color: #1ab51a; */
                        font-weight: bold;
                    }
                    .event_basic_info img {
                        width: 6%;
                    }
                </style>
                <div class="event_basic_info">
                    <div class="hstack gap-2">
                        <img src="assets/images/deal.png" alt="image" class="img-fluid">
                        <span class="separate">-</span>
                        <p class="mb-0">APIS jointly organizing in partnership with APTS, National Centre of Excellence (NCoE) - Data Security Council of India (DSCI) & VITAP</p>
                    </div>
                    <div class="hstack gap-2 py-3">
                        <img src="assets/images/trophy.png" alt="image" class="img-fluid">
                        <span>-</span>
                        <p class="mb-0">Upto <span>INR 30 Lakhs</span> to be won between the <span>Winners, 1st Runners & 2nd Runners</span></p>
                    </div>
                    <div class="hstack gap-3">
                        <div class="range_date hstack gap-2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="mb-0"> Start Date : 19-10-2023</p>
                        </div>
                        <div class="range_date hstack gap-2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="mb-0">End Date : 05-02-2024</p>
                        </div>
                    </div>
                </div>
                <div class="countdown_partners py-3">
                    <div class="hstack gap-2">
                        <div class="countdown">
                            <app-countdown></app-countdown>
                        </div>
                    </div>
                </div>
                <style>
                    .partners .text h4 {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                    letter-spacing: 0em;
                    text-align: left;
                    }
                </style>
                <div class="partners hstack gap-2">
                    <div class="text">
                        <h4 class="mb-0 text-white">
                            Ecosystem Partners
                        </h4>
                    </div>
                    <div class="partner_logo1">
                        <img src="assets/images/meity_logo.png" alt="image" class="img-fluid rounded"
                        style="background: #F7F7F7;">
                    </div>
                    <div class="partner_logo2">
                    <img src="assets/images/logo/startupindianew.jpeg" alt="image" class="img-fluid rounded"
                        style="width: 21%">
                    </div>
                 </div>
                <table class="tabl-borderless mt-3 d-none">
                    <tbody>
                        <tr>
                            <th colspan="">
                                <div style="line-height: normal;">Ecosystem Partners</div>
                            </th>
                            <!-- <th>-</th> -->
                            <td>
                                <div class="hstack gap-2 align-items-center">

                                    <img src="assets/images/meity_logo.png" alt="image" class="img-fluid rounded"
                                        style="width: 15%;background: #F7F7F7;">
                                    <img src="assets/images/logo/startupindianew.jpeg" alt="image" class="img-fluid rounded"
                                        style="width: 22%">

                                    <!-- <a href="https://meitystartuphub.in/" target="_blank">
                                        <img src="assets/images/logo/meityhub.png" alt="image" class="img-fluid" style="width: 15%;background: #F7F7F7;margin-right: 20px;">
                                    </a>
                                    <a href="https://www.startupindia.gov.in/" target="_blank">
                                        <img src="assets/images/logo/startupindianew.jpeg" alt="image" class="img-fluid" style="width: 22%">
                                    </a> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="table-responsive d-none">
                    <table class="table-borderless">
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <img src="assets/images/deal.png" alt="image" class="img-fluid">
                                    <!-- <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i> -->
                                </th>

                                <!-- <th colspan="2">
                                    <i class="fa fa-handshake fa-2x"></i>
                                </th> -->
                                <!-- <th>-</th> -->
                                <!-- <td>APIS in partnership with APCFSS & FINBLUE CoE by STPI, Chennai</td> -->
                                <td>
                                    APIS jointly organizing in partnership with APTS, National Centre of Excellence (NCoE) - Data Security Council of India (DSCI) &nbsp; &nbsp; & VITAP
                                </td>
                            </tr>
                            <tr>

                                <th colspan="2">
                                    <img src="assets/images/trophy.png" alt="image" class="img-fluid">
                                    <!-- <i class="fa fa-trophy fa-2x" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-trophy fa-2x"></i> -->
                                </th>

                                <!-- <th colspan="2"><i class="fa fa-trophy fa-2x"></i></th> -->
                                <!-- <th>-</th> -->
                                <!-- <td>Upto <span>Rs. 17.5 Lakhs</span> to be won between the <span>top 3 teams</span></td> -->
                                <td>Upto <span>INR 30 Lakhs</span> to be won between the <span>Winners, 1st Runners &
                                        2nd Runners</span></td>

                            </tr>
                            <!-- <tr>
                                <td colspan="3">
                                    <div class="d-flex">
                                        <div>
                                            <i class="fas fa-calendar-alt fa-2x mr-4"></i> Start Date: 01-05-2022 &nbsp;&nbsp;
                                        </div>
                                        <div class="ml-5 pl-5">
                                            <i class="fas fa-calendar-alt fa-2x mr-4"></i> End Date: 01-05-2022
                                        </div>
                                    </div>
                                </td>
                            <tr> -->
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <!-- <i class="fas fa-calendar-alt fa-2x"></i>  -->
                                <th colspan="2">Start Date</th>
                                <!-- <th>-</th> -->
                                <td>
                                    19-10-2023
                                </td>
                            <tr>
                            <tr>
                                <th colspan="2">End Date</th>
                                <!-- <th>-</th> -->
                                <td>
                                    19-11-2023
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="partners d-none">
                    <h4 class="text-white">Ecosystem Partners:</h4>
                    <img src="assets/images/logo/meityhub.png" alt="image" class="img-fluid" style="width: 10%;">
                    <img src="assets/images/logo/startupindia.png" alt="image" class="img-fluid">
                </div>

                <!-- event table ends -->

            </div>
        </div>


    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>