<section>
    <div class="container">
        <div class="section_title">
            <h2>About Fintech Challenge 2022
            <!-- <span class="right_arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </span> -->
            </h2>
            <!-- <h3>
              FINTECH Innovation challenge
              idea becomes reality
            </h3> -->
        </div>
        <div class="section_content d-none">
            <p>
                “FINTECH Innovation Challenge”
                hosted by APIS in partnership with APCFSS & FINBLUE CoE
                by STPI, Chennai
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg_content">
                    <p>
                        <strong><a href="http://apis.ap.gov.in/" target="_blank" style="text-decoration: none;">AP Innovation Society</a></strong> in partnership with <strong>APCFSS and FINBLUE CoE by STPI,
                            Chennai</strong> is launching the ‘FINTECH Innovation Challenge’, for scouting innovations
                        and start-ups engaged in using emerging technologies such as <strong>Internet of Things
                            (IoT), Artificial Intelligence (AI), Machine Learning (ML), Data Science, Analytics,
                            Smart Decision tools, Blockchain & Robotics</strong> to democratize financial services in the
                        state by the way of improvement in the existing procedures, identification of
                        bottlenecks and gaps that can be addressed primarily in the stated thematic areas
                    </p>
                    <p>
                        The challenge aims to bring together the stakeholders of the Indian Startup
ecosystem including students, entrepreneurs, industrialists, investors, experts,
government, and budding start-ups to test, refine and validate their solutions
                    </p>
                    <p>
                        The problem statements are devised in close communication with the state
                        government departments and industry partners for the start-ups to showcase their
                        capabilities in these emerging technologies. Each thematic area has prize money of
                        up to INR 10 Lakhs to be distributed between the top 3 start-ups. Top start-ups will
                        get a chance for getting incubation support and access to funding schemes for
                        prototyping as well as product development up to <strong>INR 25 lakhs</strong>. These startups will
                        also get piloting opportunities in the state
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>