<section class="details_hero" style="background-image: url('assets/images/winner/winnerbg.png')">
    <div class="container">
        <div class="section_title">
            <h2>How It Works
            </h2>
        </div>
        <!-- <div class="section_content">
            <p>
                Support and innovate together with us in any of our Innovation Challenges! Be part of creating champions of change                    
            </p>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="process_image text-center py-3">
                    <img src="assets/images/generalprocesstwo.png" alt="image" class="img-fluid" style="width: 90%;">
                </div>
            </div>
        </div>
    </div>
</section>