
<section style="background-image: url('assets/images/cybersecurity/cyber_innerbanner.jpg');">
    <!-- <app-headertwo></app-headertwo> -->
    
        <div class="container">
            <style>
                .section_title h2::after {
                    content: none !important;
                }
            </style>
            <div class="section_title commontitle text-left">
                <h2 style="color: orange;">
                    cyber security innovation challenge 2023
                </h2>
            </div>
            
        </div>
    </section>