<section>
    <div class="container">
        <div class="section_title">
            <h2>Background
            <!-- <span class="right_arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </span> -->
            </h2>
            <!-- <h3>
              FINTECH Innovation challenge
              idea becomes reality
            </h3> -->
        </div>
        <div class="section_content d-none">
            <p>
                “FINTECH Innovation Challenge”
                hosted by APIS in partnership with APCFSS & FINBLUE CoE
                by STPI, Chennai
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg_content">
                    <p>
                        The term <strong>‘Fintech’,</strong> the short form of the phrase financial technology denotes an
    industry that is comprised of companies that use technology for efficient delivery of
    financial services. It is an emerging type of service in this 21stcentury. The new startup companies are trying to replace the traditional transaction system with new,
    effective methods by applying technology in financial sectors for mobile payments,
    loans, money transfers, and even asset management
                    </p>
                    <p>
                        India is a growing market for Fintech with a population of nearly 1.3 billion. A huge
    percentage of the unbanked and underbanked population is making India an
    exhilarating global space for financial technologies. Fintech is regarded as a game
    changer and disruptive innovation, which is capable of shaking up the traditional
    financial markets. The rise in the number of Fintech start-ups during the last five
    years has contributed to the growth of many other sectors through their efficient
    financial strategies. The scope propels the industry in itself for growth and
    profitability
                    </p>
                    <p>
                        The <strong>Government of Andhra Pradesh</strong> envisions building a robust Fintech ecosystem
    in the state by creating a roadmap for the growth of this industry by identifying the
    opportunities and establishing Andhra Pradesh as the leader in infrastructure and
    emerging technologies
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
