<section style="background-image: url('assets/images/clientbg2.png');">
    <div class="container">
        <div class="section_title">
            <h2>See what our clients have to say
            </h2>
        </div>
        <div class="section_content">
            <p>
                Transform your team's health and wellness in just 2 minutes
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngx-slick-carousel class="carousel"
                #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slides">
                        <div class="slideone slide_box">
                            <div class="slide_content">
                                <p>
                                    “Closed this in Feb with @Onsurity in record time. (Trust them to ensure that). 33 lives covered, one claim already processed. Immaculate processand service orientation.”
                                </p>
                            </div>
                            <div class="slide_author_details">
                                <div class="author_image">
                                    <img src="assets/images/author.png" alt="Author Image" class="img-fluid">
                                </div>
                                <div class="profile_Details">
                                    <div class="profile_name">
                                        <h3>Anukur Wariko</h3>
                                    </div>
                                    <div class="profile_designation">
                                        <p>
                                            Angel Investor Public Speaker
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>