<section>
    <div class="section_title">
        <h2>Key Partners
            <!-- <span class="right_arrow">
                <span></span>
                <span></span>
                <span></span>
            </span> -->
        </h2>
        <!-- <h3>
          FINTECH Innovation challenge
          idea becomes reality
        </h3> -->
    </div>
    <div class="section_content d-none">
        <p>
            “FINTECH Innovation Challenge”
            hosted by APIS in partnership with APCFSS & FINBLUE CoE
            by STPI, Chennai
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="serviceBox">
                    <div class="service-img apis">
                        <span>
                            <img src="assets/images/logo/apis.png" alt="image" class="img-fluid">
                        </span>
                    </div>
                    <!-- <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div> -->
                    <h3 class="title">APIS</h3>
                    <p class="description">
                        <a href="http://apis.ap.gov.in/" target="_blank">Andhra Pradesh Innovation Society (APIS)</a> was set up in the year 2015
functioning under the administrative control of the ITE & C Department, the
state nodal agency for spearheading the promotion of Innovations, Startups,
and Entrepreneurship among first-generation entrepreneurs, researchers,
students, citizens, and the government
                    </p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="serviceBox green">
                    <div class="service-img apcfss">
                        <span>
                            <img src="assets/images/logo/apcfss.png" alt="image" class="img-fluid">
                        </span>
                    </div>

                    <!-- <div class="service-icon">
                        <span><i class="fa fa-rocket"></i></span>
                    </div> -->
                    <h3 class="title">APCFSS</h3>
                    <p class="description">
                        AP Centre for Financial Systems & Services (APCFSS) was established by the
                        Government of Andhra Pradesh (GoAP) as a not-for-profit company under
                        the Finance Department which is mandated to Design, develop, implement
                        and maintain a Comprehensive Financial Management System (CFMS) in
                        GoAP, and help the Government implement appropriate e-Governance
                        solutions and good governance initiatives
                    </p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="serviceBox blue">
                    <div class="service-img finblue">
                        <span>
                            <img src="assets/images/logo/finbluetwo.png" alt="image" class="img-fluid">
                        </span>
                    </div>

                    <!-- <div class="service-icon">
                        <span><i class="fa fa-rocket"></i></span>
                    </div> -->
                    <h3 class="title">Finblue</h3>
                    <p class="description">
                        FinBlue is an initiative by STPI at Chennai to help provide resources such as
                        mentoring, technology support, and funding for FinTech start-ups. FinBlue
                        offers an integrated program for start-ups to scale up through its incubation
                        facility
                    </p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>