<!-- <app-headertwo></app-headertwo> -->

<!-- <app-header></app-header> -->
<style>
    .herobg::before {
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        /* filter: brightness(.9) contrast(1.5); */
        /* background-image: url("assets/images/cybersecurity/cyberbg.png"); */
        /* background-image: url("https://angular.hibootstrap.com/tazo/overlay-shape.b41d46d00d4727a2.png"); */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .herobg {
        z-index: 1;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-top: 100px;
        padding-bottom: 100px; */
    }


    .herobg::before {
        /* top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(.9) contrast(1.5);
    background-image: url("https://angular.hibootstrap.com/tazo/overlay-shape.b41d46d00d4727a2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
        /* class="feature-section bg-image pt-100 pb-75 d-none d-block" */
        /* z-index: 1;
    position: relative;
    clip-path: polygon(2% 0,98% 0,100% 2%,100% 98%,98% 100%,2% 100%,0 98%,0 2%);
    background-image: url("https://angular.hibootstrap.com/tazo/artificial-bg.d9d8afc185824df2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    }
</style>
<app-cyberhometwo></app-cyberhometwo>
<!-- <section class="herobg" style="background-image: url('assets/images/homebgfive.jpeg');"> -->
    <!-- assets/images/cybersecurity/cyberbg.png -->
    <!-- <section class="herobg" style="background-image: url('https://angular.hibootstrap.com/tazo/shield-bg.b9aca09b3915a807.jpg');"> -->
        <section class="herobg d-none" style="background-image: url('assets/images/cybersecurity/cyberbg.png');">
        <div class="container">
        <div class="row pt-3">
            <div class="col-md-4">
                <img src="assets/images/cybersecurity/cyber_thumbnil.png" alt="image" class="img-fluid"
                    style="width: -webkit-fill-available;">
                <div class="actions text-center py-3">
                    <style>
                        .actions .enroll_button {
                            /* border: 2px solid #028C72; */
                            /* background: #d7aa2b;
                            padding: 20px 0;
                            width: -webkit-fill-available; */
                            background: #1ab51a;
                            padding: 8px 0;
                            width: 42%;
                            border-radius: 30px;
                            margin-top: 20px;
                        }

                        .modal_actions .enroll_button {
                            /* border: 2px solid #028C72; */
                            /* background: #d7aa2b;
                            padding: 20px 0;
                            width: -webkit-fill-available; */
                            background: #1ab51a;
                            padding: 4px 0;
                            width: 13%;
                            border-radius: 30px;
                            /* margin-top: 20px; */
                            float: right;
                            font-size: 14px;
                        }

                        .social_img img {
                            background-image: url('assets/images/socialiconbg.png');
                        }

                        .social_img img:hover {
                            background-image: url('assets/images/socialiconbghover.png');
                        }
                    </style>
                    <style>
                        .pulse-button {

                            cursor: pointer;
                            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
                            -webkit-animation: pulse 1.5s infinite;
                        }

                        .pulse-button:hover {
                            -webkit-animation: none;
                        }

                        @keyframes pulse {
                            0% {
                                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                                opacity: 1;
                            }

                            100% {
                                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                                opacity: 0;
                            }
                        }


                        @keyframes pulse {
                            0% {
                                box-shadow: 0 0 0 0 rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3);
                            }

                            100% {
                                box-shadow: 0 0 0 1em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0.3), 0 0 0 2em rgba(26, 181, 26, 0.3), 0 0 0 0em rgba(26, 181, 26, 0);
                            }
                        }

                        /* 
@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 84, 33, 0.3), 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3);
    }
    100% {
        box-shadow: 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3), 0 0 0 8em rgba(255, 84, 33, 0);
    }
} */


                        @-webkit-keyframes pulse {
                            0% {
                                -moz-transform: scale(0.9);
                                -ms-transform: scale(0.9);
                                -webkit-transform: scale(0.9);
                                transform: scale(0.9);
                            }

                            70% {
                                -moz-transform: scale(1);
                                -ms-transform: scale(1);
                                -webkit-transform: scale(1);
                                transform: scale(1);
                                box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
                            }

                            100% {
                                -moz-transform: scale(0.9);
                                -ms-transform: scale(0.9);
                                -webkit-transform: scale(0.9);
                                transform: scale(0.9);
                                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
                            }
                        }
                    </style>
                    <span class='pulse-button d-none'>pulse</span>

                    <!-- data-toggle="modal" data-target="#registrationModal" -->

                    <a href="https://forms.gle/9cyziUYmWtdpfdDf8"
                        target="_blank" style="cursor: pointer;"
                        class="pulse-button btn enroll_button text-center text-white text-uppercase">Apply</a>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table-borderless">
                        <tbody>
                            <tr>
                                <th><i class="fa fa-map-marker fa-2x"></i></th>
                                <!-- <th>-</th> -->
                                <td style="font-size: 18px;">VIT AP University, Amaravati, Andhra Pradesh</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="pl-0" style="padding-left: 0 !important;">
                                    <div class="d-flex align-items-center">
                                        <div class="fb social_img">
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <img src="assets/images/facebook.png" alt="FB Logo" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="linkedin social_img">
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <img src="assets/images/linkedin.png" alt="Linkedin Logo"
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="twitter social_img">
                                            <a href="https://twitter.com/" target="_blank">
                                                <img src="assets/images/twitter.png" alt="Twitter Logo"
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-8">




                <div class="event_details">
                    <div class="event_name_details">
                        <!-- <i class="fa fa-calendar"></i> -->
                        <!-- <h4>Event Name</h4> : -->
                        <h2 style="color: orange !important;">Cyber Security Innovation Challenge 2023</h2>
                    </div>


                </div>

                <!-- event table starts -->

                <div class="table-responsive">
                    <table class="table-borderless">
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <img src="assets/images/deal.png" alt="image" class="img-fluid">
                                    <!-- <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i> -->
                                </th>

                                <!-- <th colspan="2">
                                    <i class="fa fa-handshake fa-2x"></i>
                                </th> -->
                                <!-- <th>-</th> -->
                                <!-- <td>APIS in partnership with APCFSS & FINBLUE CoE by STPI, Chennai</td> -->
                                <td>
                                    APIS jointly organizing in partnership with APTS, National Centre of Excellence (NCoE) - Data Security Council of India (DSCI) & VITAP
                                </td>
                            </tr>
                            <tr>

                                <th colspan="2">
                                    <img src="assets/images/trophy.png" alt="image" class="img-fluid">
                                    <!-- <i class="fa fa-trophy fa-2x" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-trophy fa-2x"></i> -->
                                </th>

                                <!-- <th colspan="2"><i class="fa fa-trophy fa-2x"></i></th> -->
                                <!-- <th>-</th> -->
                                <!-- <td>Upto <span>Rs. 17.5 Lakhs</span> to be won between the <span>top 3 teams</span></td> -->
                                <td>Upto <span>INR 30 Lakhs</span> to be won between the <span>Winners, 1st Runners &
                                        2nd Runners</span></td>

                            </tr>
                            <!-- <tr>
                                <td colspan="3">
                                    <div class="d-flex">
                                        <div>
                                            <i class="fas fa-calendar-alt fa-2x mr-4"></i> Start Date: 01-05-2022 &nbsp;&nbsp;
                                        </div>
                                        <div class="ml-5 pl-5">
                                            <i class="fas fa-calendar-alt fa-2x mr-4"></i> End Date: 01-05-2022
                                        </div>
                                    </div>
                                </td>
                            <tr> -->
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <!-- <i class="fas fa-calendar-alt fa-2x"></i>  -->
                                <th colspan="2">Start Date</th>
                                <!-- <th>-</th> -->
                                <td>
                                    19-10-2023
                                </td>
                            <tr>
                            <tr>
                                <th colspan="2">End Date</th>
                                <!-- <th>-</th> -->
                                <td>
                                    19-11-2023
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <app-countdown></app-countdown>
                    <table class="tabl-borderless mt-3">
                        <tbody>
                            <tr>
                                <th colspan="">
                                    <div style="line-height: normal;">Ecosystem Partners</div>
                                </th>
                                <!-- <th>-</th> -->
                                <td>
                                    <div class="hstack gap-2 align-items-center">

                                        <img src="assets/images/meity_logo.png" alt="image" class="img-fluid rounded"
                                            style="width: 15%;background: #F7F7F7;">
                                        <img src="assets/images/logo/startupindianew.jpeg" alt="image" class="img-fluid rounded"
                                            style="width: 22%">

                                        <!-- <a href="https://meitystartuphub.in/" target="_blank">
                                            <img src="assets/images/logo/meityhub.png" alt="image" class="img-fluid" style="width: 15%;background: #F7F7F7;margin-right: 20px;">
                                        </a>
                                        <a href="https://www.startupindia.gov.in/" target="_blank">
                                            <img src="assets/images/logo/startupindianew.jpeg" alt="image" class="img-fluid" style="width: 22%">
                                        </a> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="partners d-none">
                    <h4 class="text-white">Ecosystem Partners:</h4>
                    <img src="assets/images/logo/meityhub.png" alt="image" class="img-fluid" style="width: 10%;">
                    <img src="assets/images/logo/startupindia.png" alt="image" class="img-fluid">
                </div>

                <!-- event table ends -->

            </div>
        </div>


    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>

<!-- background section starts -->

<section class="py-5" style="background-color: #f4f0f7;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
                    <li class="nav-item tab-btns" role="presentation">
                        <button class="nav-link tab-btn active" id="about-tab" data-bs-toggle="tab"
                            data-bs-target="#about-tab-pane" type="button" role="tab" aria-controls="about-tab-pane"
                            aria-selected="true">About Challenge</button>
                    </li>
                    <li class="nav-item tab-btns" role="presentation">
                        <button class="nav-link tab-btn" id="background-tab" data-bs-toggle="tab"
                            data-bs-target="#background-tab-pane" type="button" role="tab"
                            aria-controls="background-tab-pane" aria-selected="false">Background</button>
                    </li>
                    <!-- <li class="nav-item tab-btns" role="presentation">
                        <button class="nav-link tab-btn" id="committee-tab" data-bs-toggle="tab"
                            data-bs-target="#committee-tab-pane" type="button" role="tab"
                            aria-controls="committee-tab-pane" aria-selected="false">Esteemed Committee Members</button>
                    </li> -->
                </ul>
                <div class="tab-content accordion" id="myTabContent">
                    <div class="tab-pane fade show active accordion-item" id="about-tab-pane" role="tabpanel"
                        aria-labelledby="about-tab" tabindex="0">

                        <h2 class="accordion-header d-lg-none" id="aboutHeading">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#aboutCollapse" aria-expanded="true" aria-controls="aboutCollapse">
                                About Challenge
                            </button>
                        </h2>
                        <div id="aboutCollapse" class="accordion-collapse collapse show  d-lg-block"
                            aria-labelledby="aboutHeading" data-bs-parent="#myTabContent">
                            <style>
                                .accordion-bod::before {
                                    inset: 0;
                                    z-index: -1;
                                    content: "";
                                    opacity: .97;
                                    position: absolute;
                                    background: linear-gradient(91.29deg, #4A00E0 1.1%, #8E2DE2 110.64%);
                                }
                                .accordion-bod {
                                    z-index: 1;
                                    position: relative;
                                    background-image: url("https://preview.envytheme.com/nezox-react/footer-bg.332036a709910e05.jpg");
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    padding-top: 200px;
                                    padding-bottom: 200px;
                                }
                            </style>
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section_title">
                                                <h3>About Cyber Security Challenge 2023
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="section_content">
                                                <p>
                                                    In a world where cybercrime continues to escalate at an exponential
                                                    rate, the need for innovation in cybersecurity has never been more
                                                    critical. As technology advances, so do the tactics of
                                                    cybercriminals. We've all felt the vulnerabilities - from Zoom class
                                                    disruptions to scam emails - and it's evident that our reliance on
                                                    technology has made cyber security a paramount concern
                                                </p>
                                                <p>
                                                    <a href="https://apis.ap.gov.in" target="_blank">AP Innovation
                                                        Society (APIS)</a> is proud to join hands with <a
                                                        href="https://apts.gov.in/" target="_blank">Andhra
                                                        Pradesh Technology Services (APTS)</a>, <a
                                                        href="https://www.n-coe.in/" target="_blank">National
                                                        Centre of Excellence (NCoE) - Data Security Council of India
                                                        (DSCI)</a>
                                                        <!-- <a
                                                        href="https://www.dsci.in/" target="_blank"></a> -->
                                                    and <a href="https://vitap.ac.in/" target="_blank">VIT-AP
                                                        University</a> to unveil the <strong>"Cyber Security Innovation
                                                        Challenge 2023"</strong>
                                                    This ground-breaking initiative is set to scout for remarkable
                                                    innovations and startups in the realm of cybersecurity.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="assets/images/cybersecurity/thumb_3.jpeg" alt="image" class="img-fluid">
                                        </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="section_content">
                                                <p>
                                                    The challenge focuses on leveraging cutting-edge Cyber Security
                                                    Infrastructure and technologies, including Intrusion Detection
                                                    Techniques, Malware Information Sharing Platform (MISP), Artificial
                                                    Intelligence (AI), Machine Learning (ML), Data Science, Smart
                                                    Decision tools, Vulnerability Handling and Penetration Testing,
                                                    Network Protocols, and Data Flows.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section_title">
                                                <h3>
                                                    The Challenge's Core Objective
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="section_content">
                                                <p>
                                                    The primary goal of this challenge is to unite stakeholders from
                                                    India's startup ecosystem, from visionary entrepreneurs to astute
                                                    industrialists, forward-thinking investors, cybersecurity experts,
                                                    government representatives, and budding startup enthusiasts.
                                                    Together, we aim to put innovative solutions to the test, refine
                                                    them, and validate their potential to tackle the most pressing
                                                    cybersecurity challenges of our time.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section_title">
                                                <h3>
                                                    Problem Statements Designed for Impact
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="section_content">
                                                <p>
                                                    The problem statements for this challenge have been meticulously
                                                    crafted through close collaboration with State Government
                                                    Departments and industry partners. These statements represent
                                                    real-world challenges and provide startups with a unique platform to
                                                    showcase their capabilities in emerging technologies.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section_title">
                                                <h3>
                                                    Rewards beyond Recognition
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="section_content">
                                                <p>
                                                    Apart from the prestige of recognition, the Cyber Security
                                                    Innovation Challenge offers substantial incentives, including cash
                                                    prizes of up to INR 30 Lakhs, distributed among the winning teams,
                                                    first runners-up, and second runners-up. The selected startups will
                                                    also gain invaluable access to:
                                                </p>
                                                <ul>
                                                    <li>
                                                        <strong>Incubation Space :</strong>
                                                        A nurturing environment to foster their
                                                        innovations.
                                                    </li>
                                                    <li>
                                                        <strong>Mentoring :</strong>
                                                        Expert guidance to refine their solutions and
                                                        business strategies.
                                                    </li>
                                                    <li>
                                                        <strong>Access to Funding Schemes :</strong>
                                                        Assistance in securing the necessary
                                                        capital to bring their innovations to life.
                                                    </li>
                                                    <li>
                                                        <strong>Procurement Support :</strong>
                                                        Guidance for prototyping and piloting
                                                        opportunities within the state.
                                                    </li>
                                                </ul>
                                                <h5>Ready to Innovate?</h5>
                                                <p>
                                                    If you're excited about the prospect of driving change in the
                                                    cybersecurity landscape, we invite you to participate in the Cyber
                                                    Security Innovation Challenge 2023. As cybercrime continues to
                                                    evolve, so must our defenses. Join us in this exciting endeavor to
                                                    recognize and reward the best cybersecurity talent in the country.
                                                    Registrations are now open, and we extend a warm invitation to
                                                    startups from all over India to participate in this transformative
                                                    event.
                                                </p>
                                                <p>
                                                    Let's join forces to safeguard our digital future and make a lasting
                                                    impact in the world of cybersecurity.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade accordion-item" id="background-tab-pane" role="tabpanel"
                        aria-labelledby="background-tab" tabindex="0">
                        <h2 class="accordion-header d-lg-none" id="backgroundHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#backgroundCollapse" aria-expanded="false"
                                aria-controls="backgroundCollapse">
                                Background
                            </button>
                        </h2>
                        <div id="backgroundCollapse" class="accordion-collapse collapse d-lg-block"
                            aria-labelledby="backgroundHeading" data-bs-parent="#myTabContent">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section_title">
                                                <h3>
                                                    Background
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="section_content">
                                                <p>
                                                    Cybersecurity refers to the practice of protecting computer systems,
                                                    networks, and digital assets from theft, damage, unauthorized
                                                    access, or other cyber threats. It encompasses a wide range of
                                                    technologies, processes, and practices designed to safeguard
                                                    information and ensure the confidentiality, integrity, and
                                                    availability of data and systems.
                                                </p>
                                            </div>
                                            <div class="section_title">
                                                <h3>
                                                    Key components of cybersecurity include
                                                </h3>
                                            </div>
                                            <p>
                                                Cybersecurity refers to the practice of protecting computer systems,
                                                networks, and digital assets from theft, damage, unauthorized
                                                access, or other cyber threats. It encompasses a wide range of
                                                technologies, processes, and practices designed to safeguard
                                                information and ensure the confidentiality, integrity, and
                                                availability of data and systems.
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <img src="assets/images/eventdetailsabout.png" alt="image" class="img-fluid">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="section_content">
                                                <ul>
                                                    <li>
                                                        <strong>Network Security : </strong>
                                                        Protecting the integrity and confidentiality of data as it is
                                                        transmitted over a network, which includes technologies like
                                                        firewalls, intrusion detection systems, and virtual private
                                                        networks (VPNs).
                                                    </li>
                                                    <li>
                                                        <strong>Endpoint Security : </strong>
                                                        Securing individual devices (e.g., computers, smartphones) to
                                                        prevent malware, unauthorized access, and data breaches.
                                                    </li>
                                                    <li>
                                                        <strong>Data Security : </strong>
                                                        Protecting data at rest and in transit through encryption,
                                                        access controls, and data loss prevention measures.
                                                    </li>
                                                    <li>
                                                        <strong>Application Security : </strong>
                                                        Ensuring that software and web applications are free from
                                                        vulnerabilities and are resistant to cyberattacks.
                                                    </li>
                                                    <li>
                                                        <strong>Identity and Access Management (IAM) : </strong>
                                                        Managing and controlling user access to systems and data to
                                                        prevent unauthorized access.
                                                    </li>
                                                    <li>
                                                        <strong>Security Awareness and Training : </strong>
                                                        Educating employees and users about cybersecurity best practices
                                                        and the risks associated with cyber threats like phishing.
                                                    </li>
                                                    <li>
                                                        <strong>Incident Response and Recovery : </strong>
                                                        Developing plans and processes to detect, respond to, and
                                                        recover from cybersecurity incidents and breaches.
                                                    </li>
                                                    <li>
                                                        <strong>Governance and Risk Management : </strong>
                                                        Establishing policies, procedures, and risk assessment processes
                                                        to proactively manage cybersecurity risks.
                                                    </li>
                                                    <li>
                                                        <strong>Compliance : </strong>
                                                        Adhering to legal and regulatory requirements related to data
                                                        protection and privacy.
                                                    </li>
                                                </ul>
                                                <p>
                                                    Cybersecurity is essential in today's digital age, where the volume
                                                    and sophistication of cyber threats continue to grow. Effective
                                                    cybersecurity measures are crucial for protecting individuals,
                                                    organizations, and governments from cyberattacks, data breaches, and
                                                    other forms of cybercrime. Cybersecurity professionals and experts
                                                    play a vital role in identifying vulnerabilities, implementing
                                                    safeguards, and responding to security incidents to maintain the
                                                    security and privacy of digital systems and data.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade accordion-item" id="committee-tab-pane" role="tabpanel"
                        aria-labelledby="committee-tab" tabindex="0">
                        <h2 class="accordion-header d-lg-none" id="committeeHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#committeeCollapse" aria-expanded="false"
                                aria-controls="committeeCollapse">
                                Esteemed Committee Members
                            </button>
                        </h2>
                        <div id="committeeCollapse" class="accordion-collapse collapse d-lg-block"
                            aria-labelledby="committeeHeading" data-bs-parent="#myTabContent">
                            <div class="accordion-body">
                                <app-cyber-esteemed-commettee-members></app-cyber-esteemed-commettee-members>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-cyber-problem-statementstwo></app-cyber-problem-statementstwo>
<!-- <app-problem-statements></app-problem-statements> -->

<!-- process timeline starts -->

    <!-- background-image: url('/assets/images/winner/winnerbg3.png'); -->
    <!-- <section class="details_hero py-5" style="background-image: url('assets/images/winner/winnerbg.png')"> -->
        <!-- https://angular.hibootstrap.com/tazo/assets/images/binery-bg.jpg -->
        <!-- assets/images/cybersecurity/process_bg.png -->
        <section class="details_hero py-5" style="background-image: url('assets/images/cybersecurity/process_bg.png')">
        <div class="container">
            <!-- <div class="section_content">
                <p>
                    Summary of executing the “FINTECH Innovation Challenge”
                    hosted by APIS in partnership with APCFSS & FINBLUE CoE
                    by STPI, Chennai
                </p> 
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title_separate_bg section_title_separate text-center">
                        <h2>Processes and Timelines</h2>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12 d-none">
                    <div class="ullist pb-4">
                        <ul>
                            <li>
                                Deadlines should be strictly adhered to and no further entries will be accepted beyond them.
                            </li>
                            <li>
                                Please note that there is no sponsorship or reimbursement available for FINTECH
    Challenge costs such as developing design prototypes
                            </li>
                        </ul>
    
                    </div>
                </div>
                <div class="col-md-12 pt-2">
                    <div class="timeline_image text-center bg-white p-5 rounded">
                        <img src="assets/images/cybersecurity/cyber_process.png" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row d-none">
                <div class="col-md-12">
                    <div class="timeline_image">
                        <img src="assets/images/timelinejourney.png" alt="image" class="img-fluid">
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        <h3>Start Registration</h3>
                        <h5 class="pt-4">September 10th, 2022</h5>
                    </div>
                    <div class="des">
                        <p>
                            Register to participate in Fintech Challenge 2022. Registration closes on September 6th, 2022
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        <h3>Initial Applications Screening</h3>
                        <h5>October 15, 2022</h5>
                    </div>
                    <div class="des">
                        <p>
                            Submit your proposal (s) for one or more selected problem statement (s) Proposal (s) can be submitted after registration by September 22nd, 2022
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        <h3>Virtual Pitch Deck Presentations</h3>
                        <h5>October 30th, 2022</h5>
                    </div>
                    <div class="des">
                        <p>
                            Register to participate in Fintech Challenge 2022. Registration closes on September 6th, 2022
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        <h3>In person Demonstration</h3>
                        <h5>November 5th, 2022</h5>
                    </div>
                    <div class="des">
                        <p>
                            Proposals will be reviewed and shortlisted by a panel of experts and the results of the shortlisted solutions will be declared on October 7th, 2022
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        <h3>Awards Ceremony</h3>
                        <h5 class="pt-4">November 5th, 2022</h5>
                    </div>
                    <div class="des">
                        <p>
                            Final evaluation and announcement of Winner/s
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- process timeline ends -->

<!-- who can apply starts -->

<section class="py-5">
    <div class="container">
        <div class="section_title_separate">
            <h2>Who Can Apply
            </h2>            
        </div>
        <div class="row pt-5">
            <div class="col-md-12">
                <div class="head">
                    <!-- <h4>
                        All applicants should:
                    </h4> -->
                    <p>
                        If you are a start-up, an early-stage organization or working in collaboration to solve problems in the Cyber Security Space, you are eligible to apply meeting the following requirements :
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ullist">
                    <ul>
                        <li>
                            Demonstrating the existence of a legal structure: Company should comply with the start-up definition as defined by DPIIT at <a href="mailto:http://startupindia.gov.in" target="_blank">http://startupindia.gov.in</a>
                        </li>
                        <li>
                            Products/ Services should not violate/ breach/ copy any product already launched and/or copyrighted or patented
                        </li>
                        <li>
                            IPR/ Patent registered for the product (if any) should be owned by the nominating Indian company
                        </li>
                        <li>
                            The product/ Prototype/ MVP submitted should have been designed and developed in India
                        </li>
                    </ul>
                </div>
                <div class="head">
                    <p>
                        Participants will have to come up with solutions that can be called ‘innovative’, ‘radical’, ‘unconventional’ or ‘out-of-the-box’. The solutions provided should be thoroughly researched, must not include any sort of plagiarism, carried out as a student effort with a feasible work plan and should be presented with required deliverables.
                    </p>
                </div>

                <div class="ullist d-none">
                    <ul>
                        <li>
                            Be Indian citizens and currently residing in India OR
startups/Companies registered in India wherein majority stakeholders
are Indians
                        </li>
                        <li>
                            Register either as individuals with atmost 2 supporting team members,
with the team leader registering on behalf of the team
                        </li>
                        <li>
                            Proposals for the stated problem statements are Categorised as follows
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="box box_one">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box_heading">
                                <h3>
                                    Ideation (Early-Stage)
                                </h3>
                            </div>
                            <div class="box_list">
                                <ul>
                                    <li><i class="fa fa-check"></i>
                                        Students (Diploma/UG/PG)
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Research scholars (JRF, SRF, Scientist, Research/Project Associate etc.)
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Faculties
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/ideation.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="box box_one">
                    <div class="box_content_details">
                        <div class="box_heading">
                            <h3>
                                Ideation (Early-Stage)
                            </h3>
                        </div>
                        <div class="box_list">
                            <ul>
                                <li><i class="fa fa-check"></i>
                                    Students (Diploma/UG/PG)
                                </li>
                                <li><i class="fa fa-check"></i>
                                    Research scholars (JRF, SRF, Scientist, Research/Project Associate etc.)
                                </li>
                                <li><i class="fa fa-check"></i>
                                    Faculties
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_image">
                        <img src="assets/images/ideation.png" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="box box_two">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box_heading">
                                <h3>
                                    Deployment (Late-Stage)
                                </h3>
                            </div>
                            <div class="box_list">
                                <ul>
                                    <li><i class="fa fa-check"></i>
                                        Indian Companies
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Startups (Registered/Not registered)
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        MSMEs/LLPs
                                    </li>
                                    <li><i class="fa fa-check"></i>
                                        Professionals
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/deployment.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- who can apply ends -->


<!-- incentives starts -->

<section class="py-5" style="background-image: url('assets/images/cybersecurity/winner_bg.png');">
    <!-- <div style="background-image: url('assets/images/winner/winnerbg2.png');
        background-repeat: no-repeat;background-position: bottom;
        background-size: cover;position:absolute;top: 0;bottom:
        0;right: 0;left: 0;">
    </div> -->
    <div class="container incentive_container">
        <div class="section_title_separate">
            <h2>Incentives</h2>
        </div>
        <div class="section_content pt-4 pb-2">
            <p>
                The selected start-ups will be felicitated with financial reward of up to INR 30 Lakhs for creating impact at a scale.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box_one">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>INR 5.00 lakhs</h2>
                            <h4>
                                Winner
                            </h4>
                            <p>(Per each problem statement)</p>
                        </div>
                        <div class="box_image">
                            <img src="assets/images/winner/one.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box_two">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>INR 3.00 lakhs</h2>
                            <h4>
                                First Runner-up
                            </h4>
                            <p>(Per each problem statement)</p>
                        </div>
                        <div class="box_image">
                            <img src="assets/images/winner/two.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <div class="box box_three">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>INR 2.00 lakhs</h2>
                            <h4>
                                Second Runner-up
                            </h4>
                            <p>(Per each problem statement)</p>
                        </div>
                        <div class="box_image">
                            <img src="assets/images/winner/three.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <div class="box box_four pt-1">
                    <div class="box_details">
                        <div class="box_title">
                            <h2 class="mb-0 pt-3" >Non-Fiscal Incentives</h2>
                            <!-- <h4>
                                Five consolation 
                                prizes
                            </h4> -->
                            <div class="nonfiscal_ullist ullist mb-0">
                                <ul class="mb-0">
                                    <li>
                                        Incubation Support
                                    </li>
                                    <li>
                                        Mentorship Support
                                    </li>
                                    <li>
                                        Access to funding schemes
                                    </li>
                                    <li>
                                        Piloting & Procurement Support
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="box_image art_image">
                            <img src="assets/images/artboard.png" alt="image" class="img-fluid">
                        </div> -->
                    </div>
                        <div class="box_image art_image">
                            <img src="assets/images/artboard.png" alt="image" class="img-fluid">
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- incentives ends -->


<!-- key partners starts -->

<app-cyber-keypartners></app-cyber-keypartners>

<!-- key partners ends -->


<!-- faqs starts -->
<app-faqone></app-faqone>

<!-- faqs ends -->

<!-- upcoming events starts -->

<app-cyber-upcomingevents></app-cyber-upcomingevents>

<!-- upcoming events ends -->


<!-- eco system partners starts -->

<app-cyber-ecosystem-partners></app-cyber-ecosystem-partners>

<!-- eco system partners ends -->