<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="committe_member">
                    <h4 class="role">Patron-In-Chief</h4>
                    <img src="assets/images/cybersecurity/user.png" alt="image" class="img-fluid">
                    <div class="committe_member_details">
                    <h3>
                        Dr. N.Yuvaraj, IAS
                    </h3>
                    <p>
                        Secretary, ITE&C Department (GOAP)
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="committe_member">
                    <h4 class="role">
                        Honorary Chairman
                    </h4>
                    <img src="assets/images/cybersecurity/vinayak_dsci.png" alt="image" class="img-fluid">
                    <div class="committe_member_details">
                    <h3>
                        Sh. VinayakGodse
                    </h3>
                    <p>
                        CEO, Data Security Council of India
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="committe_member">
                    <h4 class="role">
                        Member Co-Convenor
                    </h4>
                    <img src="assets/images/cybersecurity/ramanareddy_irs.png" alt="image" class="img-fluid">
                    <div class="committe_member_details">
                    <h3>
                        Sh. M. Ramana Reddy, IRS
                    </h3>
                    <p>
                        MD, Andhra Pradesh Technology Services (APTS). GoAP
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="committe_member">
                    <h4 class="role">
                        Member Co-Convenor
                    </h4>
                    <img src="assets/images/cybersecurity/vineeth_dsci.png" alt="image" class="img-fluid">
                    <div class="committe_member_details">
                    <h3>
                        Sh. M. Vineet
                    </h3>
                    <p>
                        Director Cyber security Technology NCoE - DSCI
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="committe_member">
                    <h4 class="role">
                        Patron
                    </h4>
                    <img src="assets/images/cybersecurity/svk_vcvit.png" alt="image" class="img-fluid">
                    <div class="committe_member_details">
                    <h3>
                        Dr. S. V. Kota Reddy
                    </h3>
                        <p>
                            VC, VIT AP University
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="committe_member">
                    <h4 class="role">
                        Member Convener
                    </h4>
                    <img src="assets/images/cybersecurity/apis_ceo.png" alt="image" class="img-fluid">
                    <div class="committe_member_details">
                    <h3>
                        Sh. Anil Kumar Tentu
                    </h3>
                        <p>
                            CEO, AP Innovation Society (APIS), GoAP
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>