<section class="" style="background-image: url('assets/images/winner/winnerbg.png');">
    <!-- <div style="background-image: url('assets/images/winner/winnerbg2.png');
        background-repeat: no-repeat;background-position: bottom;
        background-size: cover;position:absolute;top: 0;bottom:
        0;right: 0;left: 0;">
    </div> -->
    <div class="container">
        <div class="section_title">
            <h2>Incentives</h2>
        </div>
        <div class="section_content pt-3">
            <p>
                <!-- Think, Code, Innovate and win exciting cash prizes ! -->
                The selected start-ups will be felicitated with financial reward of <strong>up to INR 50 Lakhs</strong>
for creating impact at a scale
<!-- A Financial award of up to Rs. 50 Lakhs to the Start-ups selected under Winners, 1st Runners & 2nd Runners Categories -->


            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box_one">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>INR 5.00 lakhs</h2>
                            <h4>
                                Winner
                            </h4>
                            <p>(Per each problem statement)</p>
                        </div>
                        <div class="box_image">
                            <img src="assets/images/winner/one.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box_two">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>INR 3.00 lakhs</h2>
                            <h4>
                                First Runner-up
                            </h4>
                            <p>(Per each problem statement)</p>
                        </div>
                        <div class="box_image">
                            <img src="assets/images/winner/two.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <div class="box box_three">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>INR 2.00 lakhs</h2>
                            <h4>
                                Second Runner-up
                            </h4>
                            <p>(Per each problem statement)</p>
                        </div>
                        <div class="box_image">
                            <img src="assets/images/winner/three.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <div class="box box_four">
                    <div class="box_details">
                        <div class="box_title">
                            <h2>Non-Fiscal Incentives</h2>
                            <!-- <h4>
                                Five consolation 
                                prizes
                            </h4> -->
                            <div class="ullist">
                                <ul>
                                    <li>
                                        Incubation Support
                                    </li>
                                    <li>
                                        Mentorship Support
                                    </li>
                                    <li>
                                        Access to funding schemes
                                    </li>
                                    <li>
                                        Piloting & Procurement Support
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="box_image art_image">
                            <img src="assets/images/artboard.png" alt="image" class="img-fluid">
                        </div> -->
                    </div>
                        <div class="box_image art_image">
                            <img src="assets/images/artboard.png" alt="image" class="img-fluid">
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>