<section>
    <div class="container">
        <div class="section_title">
            <h2>Roles & Responsibilities of each stakeholder</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="boxone">
                        <div class="box_image">
                            <img src="assets/images/logo/apis.png" alt="APIS Logo" class="img-fluid">
                        </div>
                        <div class="box_content">
                            <p>
                                <a href="http://apis.ap.gov.in/" target="_blank">Andhra Pradesh Innovation Society (APIS)</a> was set up in the year 2015
    functioning under the administrative control of the ITE & C Department, the state nodal
    agency for spearheading the promotion of Innovations, Startups, and Entrepreneurship
    among first-generation entrepreneurs, researchers, students, citizens, and the
    government.
                            </p>
                        </div>
                        <div class="box_sub_heading">
                            <h4>Key Roles to be played:-</h4>
                        </div>
                        <div class="box_list">
                            <ul>
                                <li><i class="fas fa-check-square"></i>
                                    Hosting the challenge on behalf of the department
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Brining the startups, students, and other relevant stakeholders for the challenge
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Ensure the overall management of the challenge starting from hosting to valedictory
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Supporting the selected startups with Incubation space/ mentorship/ funding support
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="boxtwo">
                        <div class="box_image">
                            <img src="assets/images/logo/apcfss.png" alt="APCFSS Logo" class="img-fluid">
                        </div>
                        <div class="box_content">
                            <p>
                                AP Centre for Financial Systems & Services (APCFSS) was established by the
    Government of Andhra Pradesh (GoAP) as a not-for-profit company under the Finance
    Department which is mandated to Design, develop, implement and maintain a
    Comprehensive Financial Management System (CFMS) in GoAP, and help the Government
    implement appropriate e-Governance solutions and good governance initiatives.
                            </p>
                        </div>
                        <div class="box_sub_heading">
                            <h4>Key Roles to be played:-</h4>
                        </div>
                        <div class="box_list">
                            <ul>
                                <li><i class="fas fa-check-square"></i>
                                    Hosting the challenge on behalf of the department
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Brining the startups, students, and other relevant stakeholders for the challenge
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Ensure the overall management of the challenge starting from hosting to valedictory
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Supporting the selected startups with Incubation space/ mentorship/ funding support
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="boxthree">
                        <div class="box_image">
                            <img src="assets/images/logo/finblue.png" alt="APIS Logo" class="img-fluid">
                        </div>
                        <div class="box_content">
                            <p>
                                FinBlue is an initiative by STPI at Chennai to help provide resources such as mentoring,
                                technology support, and funding for FinTech start-ups. FinBlue offers an integrated
                                program for start-ups to scale up through its incubation facility.
                            </p>
                        </div>
                        <div class="box_sub_heading">
                            <h4>Key Roles to be played:-</h4>
                        </div>
                        <div class="box_list">
                            <ul>
                                <li><i class="fas fa-check-square"></i>
                                    Hosting the challenge on behalf of the department
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Brining the startups, students, and other relevant stakeholders for the challenge
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Ensure the overall management of the challenge starting from hosting to valedictory
                                </li>
                                <li><i class="fas fa-check-square"></i>
                                    Supporting the selected startups with Incubation space/ mentorship/ funding support
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>